[2018-06-23 05:35] SamSamskies opened #1 "Add documentation for props and getGeocoder method to README"
As a user, I don't want to have to look at the source code to know that you can pass Mapbox Geocoder options as a prop and that there's a method to get access to the Mapbox Geocoder instance. It would also be nice to have a link directly to the Mapbox Geocoder docs.

[2018-06-23 05:36] SamSamskies opened #2 "Write tests"
As a user, I'd be more confident in using this library if it was well tested.

[2018-07-10 03:41] jaronheard opened #3 "Using componentDidUpdate means that geocoder will not render on initial load"
First off, useful thing that you made. Thanks!

I'm attempting to add geocoder functionality to our map component for Civic (https://github.com/hackoregon/civic), and decided to give using your package a try.

I was able to get it working, but the geocoder won't render on initial load until after you interact with the map.

Looking at your code, you are using componentDidUpdate to check for the pr

[2018-07-10 05:19] SamSamskies commented on #3
Thanks for catching that. I didn't notice because I resize the map on page load in my example which triggers the update.

I didn't use componentDidMount because the mapRef is undefined in that context.

For now, I'll just post a quick fix by force updating in componentDidMount. When I have more free time, I'll think of a better fix and actually write some tests.

[2018-07-10 05:52] #3 closed

[2018-07-10 22:51] jaronheard opened #4 "MapGL viewport does not update when location changed with geocoder"
In your example code, the MapGL viewport state does not update when a location is changed in the geocoder, and I don't think there is an easy way to do it with your module as structured.

When the location is updated from the geocoder, the state of the MapGL component will not be up to date with the map, and if you're doing anything else that relies on the viewport (e.g. Deck.GL layers), you'll ha

[2018-07-10 23:38] SamSamskies commented on #4
Thanks for reporting these bugs. I'm probably not going to have time to fix this tonight, so feel free to have a go at it.

[2018-07-10 23:47] SamSamskies commented on #4
You could probably listen for the zoomend event and update the lat, lng, and zoom of the viewport then.

[2018-07-11 01:33] jaronheard commented on #4
Spent a little more time looking at this, and the implementation of the onViewportChange in NavigationControl was significantly more involved than I thought it was going to be. Listening for zoomend sounds promising, but not sure on implementation details for that.

[2018-07-11 03:10] SamSamskies commented on #4
The results and result event from mapbox-gl-geocoder might also be worth looking into.
https://github.com/mapbox/mapbox-gl-geocoder/blob/master/API.md

Here's the docs for the zoomend mapbox-gl map event.
https://www.mapbox.com/mapbox-gl-js/api/#map.event:zoomend

I think we may need to get rid of the the animation transition to get this to work. I'm not sure how we'd animate deck.gl layers along

[2018-07-11 06:34] SamSamskies commented on #4
Should be fixed now. The zooming can be improved to zoom in on the bounding box of the area that is searched for. I'll add that later.

Let me know if you have any problems.

[2018-07-11 06:34] #4 closed

[2018-07-11 06:40] SamSamskies opened #5 "Zoom to bounding box when possible on geocode autocompletion"

[2018-07-11 06:48] SamSamskies opened #6 "Add Prettier and ESLint"

[2018-07-11 17:33] jaronheard commented on #5
If no bounding box is found, it would be nice if it used the "options.zoom" property of the geocoder to choose the zoom level if one was provided.

Per [mapbox-gl-geocoder docs](https://github.com/mapbox/mapbox-gl-geocoder/blob/master/API.md):
    -   `options.zoom` **[Number](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number)** On geocoded result what zoom le

[2018-07-11 17:34] jaronheard commented on #4
Cheers, thanks for this! Works great with deck.gl layers now, including during animation.

[2018-07-11 17:36] SamSamskies commented on #5
@jaronheard how important is this feature for you? Got a lot on my plate this week, but I can bump the priority on this if it's critical for you.

[2018-07-11 17:53] jaronheard commented on #5
This isn't urgently critical, it's more of a nice to have. Thanks again for
your work on this!

On Wed, Jul 11, 2018 at 10:36 AM SamSamskies <notifications@github.com>
wrote:

[2018-08-05 21:35] SamSamskies opened #7 "Breaks when upgrading to react-map-gl >= v3.3.0"
Need to export a bundle instead of just the transpiled code.

[2018-08-05 23:30] SamSamskies commented on #7
For now just fixed version for react-map-gl to v3.2.10.

[2018-08-05 23:30] #7 closed

[2018-09-21 23:35] SamSamskies commented on #5
@jaronheard I finally got around to implementing this. Check out v1.3.2 and let me know if you have any problems.

[2018-09-21 23:35] #5 closed

[2018-11-10 01:11] sos0 opened #8 "Animation speed settings"
Hi @SamSamskies,
I just integrated this into my project and noticed that the animation is very slow when updating location. Is there a way to change the settings to update this? Thanks for your hard work!

[2018-11-10 01:15] sos0 opened #9 "On result handler"
Hello,

Separate question from my other one (#8), how do I add a onResults or onResult handler to the component?

[2018-11-10 03:04] SamSamskies commented on #8
Hi @sos0 ,
Currently, it's not possible to change the speed of the animation. I can work on adding that this weekend. For now you could disable the animation by passing in options with flyTo set to false.

[code]

I haven't documented it, but any options you pass to the component are used to instantiate the mapbox-gl-geocoder instance. I'll work on adding this information to the docs as well.

map

[2018-11-10 06:45] SamSamskies commented on #9
There's not an easy way to do this right now. I'll try and work on adding the ability to pass these in as props this weekend.

[2018-11-10 07:38] SamSamskies commented on #8
I looked into this more and the map is the one that should be dictating the speed of the animation by setting the transitionDuration prop on the React MapGL element. I will be removing the default animation in the next release. For now, you can work around my mistake by setting the transitionInterpolator and transitionDuration AFTER spreading this.state.viewport as in the example below. Once I rem

[2018-11-10 07:45] SamSamskies commented on #8
Actually, I'm going to leave the default animation in as long as flyTo option is not set to false. I'll update the example in the README with a better way to override the transitionDuration.

[2018-11-10 08:03] SamSamskies commented on #8
I'm think I'm going to change this. I was just being lazy. Probably going to make each option a prop instead of passing down a whole options object.

[2018-11-10 20:10] SamSamskies commented on #8
Updated my example to show how to override the default animation speed. https://codesandbox.io/s/vv29y730q3

[2018-11-10 23:38] sos0 commented on #8
Thanks! I'll look into this now and ask any follow up questions if I have any.

[2018-11-10 23:39] sos0 commented on #9
Thanks so much!

[2018-11-10 23:46] sos0 commented on #8
I followed your example and it worked great! Thank you.

[2018-11-11 00:31] #8 closed

[2018-11-11 02:29] SamSamskies commented on #9
I added props for onResults and onResult in the latest version. README is updated with all available props. Let me know if you have any problems.

[2018-11-11 02:37] #1 closed

[2018-11-13 03:34] sos0 commented on #9
Am I correct in understanding that all I have to do is pass a function to the `onResult` prop to achieve the same result as [this example](https://www.mapbox.com/mapbox-gl-js/example/point-from-geocoder-result/)?

I tried this and nothing got printed after searching + selecting a result:
[code]

[2018-11-13 05:05] SamSamskies commented on #9
That should work. Could you verify that you're using v1.4.5?

See example here: https://codesandbox.io/s/0vpoxn0n9l

I just noticed there's an existing bug with mapbox-gl-geocoder that causes onResult to fire twice. https://github.com/mapbox/mapbox-gl-geocoder/issues/99.

[2018-11-13 05:06] sos0 commented on #9
I'll try removing my dependencies and re-updating!

[2018-11-13 05:07] SamSamskies commented on #9
Does the example work for you? If it doesn't, let me know what your search query is.

[2018-11-13 05:08] sos0 commented on #9
It worked! I just had to remove my node_modules folder and reinstall. :) Thanks so much Sam!

[2018-11-13 05:10] SamSamskies commented on #9
No problem. Let me know if that bug causing the event to fire twice is a problem for you. I can try and help them fix the bug or figure out a workaround if it is.

[2018-11-13 05:17] #9 closed

[2018-11-20 18:20] SamSamskies opened #10 "Add position prop"
Allow user to pick which corner of the map to place the geocoder widget.

https://www.mapbox.com/mapbox-gl-js/api/#map#addcontrol

[2018-11-20 18:27] SamSamskies opened #11 "Add prop-types as a dependency"
Shouldn't assume that all users already have prop-types as a dependency in their app.

[2018-11-22 14:19] #11 closed

[2018-11-22 14:19] #10 closed

[2018-11-27 00:12] hellofantastic opened #12 "Return GeoCoded Latitude Longitude Results only"
Instead of having a search box can I feed in an address from dataset and get back Lat and Long to use in Mapbox?

[2018-11-27 00:17] hellofantastic commented on #12
Hmm Looking at your code that includes  @mapbox/mapbox-gl-geocoder  thats what I want to use....

[2018-11-27 15:36] SamSamskies commented on #12
Yeah, but I've never used it directly so I'm not sure how it is. https://www.mapbox.com/help/how-geocoding-works/

Another alternative geocoding API you could check out is from HERE Technologies (I work here). https://developer.here.com/documentation/geocoder/topics/what-is.html

[2018-11-27 18:04] hellofantastic commented on #12
Oh thanks for responding @SamSamskies... i ended up grabbing the @mapbox/mapbox-gl-geocoder package and making a GET request to the mapbox API (https://api.mapbox.com/geocoding/v5/mapbox.places/Los%20Angeles.json?access_token=your-access-token)  where Los Angeles can be any full address url encoded

[2018-11-27 18:14] #12 closed

[2018-12-03 08:53] jlubeck opened #13 "viewport-mercator-project: assertion failed."
After click on a result from the geocoder, I'm getting this error:

[code]

And the whole screen is turning white.

[2018-12-03 17:35] Lndubose commented on #13
That is because your latitude and longitude are incorrect. So it is not a real place you have set.

[2018-12-03 18:15] SamSamskies commented on #13
@jlubeck could you provide more info so that I can try to replicate this issue? Some things that may help is your search query that is causing it to crash, what browser you are using, etc. If you could provide an example using an online code editor like Code Sandbox http://codesandbox.io, that would be even more helpful.

[2018-12-03 19:03] jlubeck commented on #13
Ok, this is weird...

Here is my code: https://codesandbox.io/s/7v21m7yxq

That exact code works on codesandbox but not on my site...

Any ideas how can I get to the bottom of this?

[2018-12-03 19:16] jlubeck commented on #13
Ok... progress... I figured out why it was crashing. When clicking on one of the results, the onClick event from the Map was being called as well but without coordinates. Why without coordinates? Because the map is disappearing after selecting a result.

The DOM for the Map is still there, but the style has a width and height of 0px. So strange.... Specially that it doesn't happen on the codesandb

[2018-12-03 19:30] SamSamskies commented on #13
I can look into stopping the result click from bubbling up to the map, but I'm not sure when I'll get around to it.

For now, I don't see a downside to checking if the coordinates exist in your click handler. I'm guessing that will fix your problem.

[2018-12-03 19:31] jlubeck commented on #13
The downside is that my map is turning blank :D
I already tried removing the click handler altogether, and the map is turning blank after selecting a result from the Geocoder

[2018-12-03 19:32] jlubeck commented on #13
BTW, thank you for responding so quickly!

[2018-12-03 19:50] SamSamskies commented on #13
When I go to your Code Sandbox example, the map is blank before I even enter a search query. There may be a bug with your state management. It's even blank if I remove the Geocoder component. The state of your Map component is intermittently undefined when I console log it in the render function.

[2018-12-03 19:54] jlubeck commented on #13
That's weird. I don't see it blank and I see the logs on the render function just fine:
![7v21m7yxq - codesandbox 2018-12-03 14-53-37](https://user-images.githubusercontent.com/3067603/49398062-46d70e00-f70b-11e8-8be6-37d32c95e5ec.png)

[2018-12-03 19:59] jlubeck commented on #13
Good news is that your demo code works fine on my environment... so I guess I'll start replacing stuff line by line until I find the culprit...

I'll let you know what I find, and thanks again for your help

[2018-12-03 20:15] SamSamskies commented on #13
Disregard my comment about the state being undefined intermittently in your Code Sandbox example. It was actually a console.log that was in the componentDidUpdate function that was printing undefined. I got the map the show up by removing your mapStyle. Maybe I don't have permissions to access the mapStyle that you're using.

[2018-12-03 20:20] jlubeck commented on #13
Well... you can mark this one as glitch... no other words for it... I started with your example code. Replacing line by line. I finished... Everything is working fine... Don't know wether to be happy or outraged haha

Sorry for wasting your time. Looks like a great library! I'll make sure to double check more thoroughly next time.

Thanks!

[2018-12-03 20:20] #13 closed

[2018-12-03 20:41] SamSamskies commented on #13
No problem. Let me know if any issues pop up.

[2018-12-04 04:07] jlubeck opened #14 "Is it possible to hide/show the component?"
Please check this out: https://codesandbox.io/s/2oml8ypklp

Try clicking once on the map. You will see the geocoder. Click again. nothing happens (it should hide)
Click again, a second geocoder appears.

And like that forever

Thanks!

[2018-12-04 04:55] SamSamskies commented on #14
That's a bug. I'll push a fix in a lil bit.

[2018-12-04 05:33] SamSamskies commented on #14
It actually might take longer to fix. Clicking in the Geocoder input now makes it disappear because that click bubbles up to the map which toggles the showGeocoder flag in your case.

[2018-12-04 05:55] jlubeck commented on #14
Clicking on the map was just a quick example to show the bug. Although it would be a nice to have, i dont think its critical...

[2018-12-04 06:08] SamSamskies commented on #14
I just pushed a fix so that it properly cleans up the Mapbox geocoder when unmounting.

[2018-12-04 13:22] jlubeck commented on #14
Works great! Thanks!

[2018-12-04 13:22] #14 closed

[2018-12-07 22:19] stefanhk31 opened #15 "Geocoder not showing up on map"
Thanks for making this! I've tried incorporating it into my `Map` component, but it's not showing up at all, for some reason. Here is my code:
[code]
I'm just not seeing any geocoder component appearing on my screen at all. Is there something I'm missing?

[2018-12-07 22:46] SamSamskies commented on #15
On your MapGL component, mapRef prop should be ref.

https://reactjs.org/docs/refs-and-the-dom.html

[2018-12-07 22:51] SamSamskies commented on #15
You'll also need to update your updateViewport function to something like...

[code]

[2018-12-10 19:11] stefanhk31 commented on #15
Thanks! It works now that I've imported `DeckGL` and `GeoJSON Layer`. [Your Sandbox ](https://codesandbox.io/s/vv29y730q3) was helpful. If anyone else is interested, here's my `Map.js` file:
[code]

[2018-12-10 19:11] #15 closed

[2018-12-13 19:31] SamSamskies opened #16 "Changing prop values after initial mount doesn't do anything"
Example: mount with position="top-left" and try to change it to position="top-right"

[2018-12-14 17:01] vnugent opened #17 "Example not working with react-map-gl v4.0.5"
Thanks for providing this wrapper.
I updated packages in the codesandbox example and it's not running any more.

[code]

https://codesandbox.io/s/vj180v0vjl

![image](https://user-images.githubusercontent.com/3805254/50016514-44cc4500-ff7e-11e8-92a6-1a8e250f3702.png)

[2018-12-14 19:14] SamSamskies commented on #17
I removed react-map-gl-geocoder from your sandbox and it still has the same error. It might be an issue with Code Sandbox. I'll try it locally to see what happens.

[2018-12-14 19:37] SamSamskies commented on #17
I downloaded the sandbox and it works locally, so must be an issue with Code Sandbox. Let me know if you have any other problems.

[2018-12-14 19:37] #17 closed

[2018-12-14 20:03] SamSamskies commented on #17
I filed an issue with Code Sandbox https://github.com/CompuIves/codesandbox-client/issues/1381

[2018-12-16 03:02] SamSamskies opened #19 "Add ability to place geocoder outside the map"
https://www.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder-outside-the-map/

[2019-01-17 23:37] #16 closed

[2019-01-18 00:31] SamSamskies commented on #19
Done. Example: https://codesandbox.io/s/v0m14q5rly

[2019-01-18 00:31] #19 closed

[2019-01-21 15:21] DavidHenri008 opened #20 "Error during componentWillUnmount"
I get an error when the map is unmount:
[code]
It seems to happen because the MapGL unmount first, so its ref becomes null, and then the Geocoder unmount after and try to use the ref in the `removeGeocoder()` function.

[2019-01-21 16:55] SamSamskies commented on #20
Thanks for reporting the issue. I’ll try and look into this later today.

[2019-01-21 23:00] SamSamskies opened #21 "search query disappears from input after executing query"

[2019-01-21 23:38] SamSamskies commented on #20
Should be fixed in the latest release. Sorry about that.

[2019-01-21 23:38] #20 closed

[2019-01-22 05:47] #21 closed

[2019-01-24 10:01] Sheap opened #22 "Mouse interaction propogates through to underlying map"
- If you double click on the text to select it, the map zooms, and the text is deselected.
- If you try to click and drag to select the text, the map will scroll, and the text is deselected.

[2019-01-24 18:15] SamSamskies commented on #22
Thanks for reporting this issue.

It looks like react-map-gl places an overlay to capture events. https://github.com/uber/react-map-gl/issues/304

You could use the `containerRef` prop to place the geocoder outside of the map to avoid propagating the events. Example: https://codesandbox.io/s/v0m14q5rly

[2019-02-12 10:43] Sela1236 opened #23 "Can't resolve 'gl-mat4/invert'"
i updated packages and now i get this error

Failed to compile.
./node_modules/react-map-gl-geocoder/node_modules/viewport-mercator-project/dist/esm/viewport.js
Module not found: Can't resolve 'gl-mat4/invert' in '...'

react: 16.8.1,
deck.gl: 6.4.1,
react-map-gl: 4.0.10,
react-map-gl-geocode": 1.6.3,

[2019-02-13 04:48] SamSamskies commented on #23
I upgraded the viewport-mercator-project dependency and this seems to have fixed the issue. They got rid of the the dependency that was causing this issue.

Let me know if you have any problems with v1.6.4.

[2019-03-01 03:33] thanhphuong612 opened #24 "Uncaught TypeError: EventEmitter is not a constructor"
Hi there,

I copied the code from https://codesandbox.io/s/vv29y730q3 to my project and getting this error from the MapboxGeocoder constructor:

[code]

"react": "^16.8.2",
"react-map-gl": "^4.0.13",
"react-map-gl-geocoder": "^1.6.4"

Thank you.

[2019-03-01 04:07] SamSamskies commented on #24
I'm unable to recreate the issue. Is it possible for you to recreate a simple example with this issue in Code Sandbox? Also, let me know know what browser you are using. Thanks for reporting the issue.

[2019-03-01 21:47] thanhphuong612 commented on #24
Thank you for your quick response.
I am able to fix it. There was one place in our code that defined the webpack 'events' alias, which overwriting the native nodejs events module.

[2019-03-02 03:15] SamSamskies commented on #24
Awesome. Let me know if you have any other problems.

[2019-03-02 03:15] #24 closed

[2019-03-23 22:55] NetisGod opened #28 "Pixel project matrix not invertible error"
When I am trying to search some places(like country names), viewport does not update and I receive next error:
Uncaught Error: Pixel project matrix not invertible
    at WebMercatorViewport.Viewport (viewport.js:38)
    at new WebMercatorViewport (web-mercator-viewport.js:61)
    at fitBounds (index.js:42)
    at EventEmitter.Geocoder._this.handleResult (index.js:201)
    at EventEmitter../node_mo

[2019-03-24 01:10] SamSamskies commented on #28
Hi @NetisGod, I'm not able to reproduce this error. Could you provide a specific search query that causes this error for you? Also, please provide version numbers that you are using for this module as well as react-map-gl.

[2019-03-24 01:20] #23 closed

[2019-03-24 17:44] SamSamskies commented on #28
Could you also try logging your viewport values in your render function? Let me know what the values are right before the error happens.

[2019-03-26 19:59] NetisGod commented on #28
I type 'Kenya', for example and then I receive this error. If I type 'Kyiv' it works well.
"react-map-gl-geocoder": "^1.7.0"
"react-map-gl": "^4.1.1"

[2019-03-26 20:25] NetisGod commented on #28
I put console.log(this.props.viewport) in Map.jsx and received next: (Tried to find out what Geocoder writes in viewport right before crush but could not accomplish this, Geocoder crushes earlier)
https://user-images.githubusercontent.com/22257069/55030748-a7b98780-5015-11e9-9aa0-d1d2aa82c5ed.png

Sam, please, run the code at local server to find out more, here it is https://github.com/NetisGod/Vi

[2019-03-27 12:30] CodyMcMichael commented on #28
I'm also seeing this issue, although the map works and go to the location. The lat long values are never updating. I'm also seeing it working with searching for a POI or feature, and failing for cities and states.

[code]

[2019-03-27 17:21] NetisGod commented on #28
It worked for me also ! Thank you ! But I can't understand how it can be an issue

[2019-03-28 04:28] SamSamskies commented on #28
Seems like you've resolved the problem. Closing this issue. Let me know if you have any other problems.

[2019-03-30 20:33] CodyMcMichael commented on #28
Looks like this PR could be addressing part of the issue that was referenced here. https://github.com/uber-common/viewport-mercator-project/issues/67

Removing the height and width as I stated earlier did allow me to search using the geocoder control, however it breaks my map, or forces me to set it a fixed width/height. I need to it be 100% width and height of the container.

Back to the original

[2019-03-31 03:55] SamSamskies commented on #28
@CodyMcMichael I haven't been able to recreate any of the issues that you're having, so it's hard to say if that PR has anything to do with your problems.

Feel free to open a new issue for each problem that you're having. Please provide a simple Code Sandbox that demonstrates your issue along with what queries cause problems for you for each issue that you open. You can fork this basic example as

[2019-04-01 21:06] thanhphuong612 opened #29 "Set input to show only part of the result"
Hi,

First, thank you for all the hard work.

Is there a way I can show only a part of the result in input field? For example, after selecting a value from the dropdown `Orlando International Airport, Orlando, Florida 32827, United States`, the input field shows only `Orlando International Airport`.

I tried to set it manually in `onResult `, but the input is back to the original value after the c

[2019-04-02 02:15] SamSamskies commented on #29
Hi @thanhphuong612, sorry, there isn't a way to do that. Just curious, why do you want to truncate the option they picked?

[2019-04-02 02:17] SamSamskies commented on #29
Also, onResult cannot be used to set the value of the input. It's used to give the parent component access to the value of the result object when selecting an option.

[2019-04-03 14:32] thanhphuong612 commented on #29
Hi @SamSamskies , thanks for getting back to me.

Just for styling purpose, I am developing a flyout that allowing users to filter the search results. The `x` and number icon are on top of the result option, which does not look good to me.

Is there a way I can work around please?

![image](https://user-images.githubusercontent.com/25516507/55487132-80f1e700-55fb-11e9-99e1-69a72c8c00c7.png)

[2019-04-03 21:48] SamSamskies commented on #29
I'll think about adding another prop to show the result short name instead of the full text, but you may want to consider building a Geocoder component from scratch for the level of customization that you are doing. You could use the Mapbox Geocoding API to fetch the results and then build your custom component with that data. https://docs.mapbox.com/api/search/#geocoding. This would give you more

[2019-04-04 20:33] thanhphuong612 commented on #29
Thanks for the suggestion, currently I do not have bandwidth to build a Geocoder component from scratch. If you could add another prop to show the result short name, that would be great.
Personally I do not refer to copy your code and make changes from there, however, I would do that if it's my only option.

Thanks.

[2019-04-05 02:56] SamSamskies commented on #29
Hi @thanhphuong612, I found a hack to do what you are trying to do by caching the result in the parent and using the onInit prop to set the input value. See example here: https://codesandbox.io/s/546xr6z35x. Be advised that this is not guaranteed to work in future releases though. Right now I'm creating a new Mapbox geocoder object on every render so onInit is also being called on every render. In

[2019-04-05 03:07] SamSamskies commented on #29
Another option would be for me to add an inputValue prop that lets you set the value of the input to whatever you want when it renders. Let me think about it. In the meantime, feel free to use the hack I posted in the last comment.

[2019-04-05 15:07] thanhphuong612 commented on #29
Thanks for the hack. It's working perfectly for me, and I can set whatever value I want.
You are right about the `displayShortName` prop, it may confuse user. I think adding `inputValue` prop is a better option.

Again, thanks for your help and very quick response.

[2019-04-05 16:13] SamSamskies commented on #29
No problem. Let me know if you have any other issues I can help with.

[2019-04-05 16:13] #29 closed

[2019-04-05 19:20] mark-rodgers opened #31 "how to prevent submit from setting the viewport to the result coords?"
Is there any way to prevent the map from zooming into the selected address? I'm trying to use the geocoder to basically just allow the user to type in an address, then setting the lat/lng into the state without actually moving the viewport there.

essentially i was to use this value from the state to filter my markers based of a proximity around `result.result.center` coords

[code]

[2019-04-06 02:52] SamSamskies commented on #31
Hi @mark-rodgers, sorry, but I don't think that's possible. You'll probably need to build a custom component to do that using the Mapbox geocoding API. https://docs.mapbox.com/api/search/#geocoding

You could prob borrow a lot of code from https://github.com/mapbox/mapbox-gl-geocoder/blob/master/lib/index.js

[2019-04-11 00:09] easherma commented on #31
@mark-rodgers if you can access all the config settings from the geocoder-api, you can set flyTo to be false, which should do what you are looking for, no?
https://github.com/mapbox/mapbox-gl-geocoder/blob/master/API.md

[2019-04-11 00:59] SamSamskies commented on #31
@easherma you can actually pass flyTo down as a prop, but unfortunately that only prevents the animation from happening. It will still go to the location that is searched for.

Ideally, this component shouldn't move if you pass in a noop in as the onViewportChange prop value. However, since I'm using the mapbox-gl-geocoder object to do most of the heavy lifting, I don't think that's possible. If I

[2019-04-11 01:30] SamSamskies commented on #31
@easherma you're actually right. I misunderstood flyTo. You have to set flyTo to false and also pass in a noop to onViewportChange.

[code]

[2019-04-11 05:01] SamSamskies commented on #31
@mark-rodgers I'm going to remove the `flyTo` param as that should always be false. This is a bug my code due to my misunderstanding of what the `flyTo` option does. `onViewportChange` should be the only way to update the viewport. I'll also default `onViewportChange` to a noop. That way you won't even need to provide those props.

[2019-04-11 05:38] SamSamskies commented on #31
@mark-rodgers just published v1.8.0. Now you should be able to just do this and the weird behavior of the viewport updating even when passing a noop to `onViewportChange` is gone. I may not have to make a version 2 after all. :)

[code]

Let me know if you have any other problems.

[2019-04-11 05:44] mark-rodgers commented on #31
Awesome! I’ll checkout the latest release soon, I’m sure this update will be useful to many!

[2019-04-11 05:44] #31 closed

[2019-04-11 05:45] SamSamskies opened #32 "Add inputValue param"
Allow users to pass in an `inputValue` param which will give them the ability to set the input value.

[2019-04-11 14:30] easherma commented on #31
Yay! Glad I could help clarify.

On Thu, Apr 11, 2019 at 12:44 AM Mark Rodgers <notifications@github.com>
wrote:

--
Eric Sherman
224-402-0004

[2019-04-11 19:30] kjkurtz opened #33 "CSS Error in mapbox-gl-geocoder"
After incorporating this library, I keep getting the following error:

[code]

The React app uses the NextJS framework (v8.0.4) and react-map-gl-geocoder version 1.8.0.

I'm guessing this could be a webpack config related problem since NextJS manages webpack for you. I will see if I can come up with anything there and report back.

[2019-04-12 03:03] SamSamskies commented on #33
Oops, sorry looks like I made a bad decision to import the CSS in this component. I was trying to make peoples lives easier and didn't consider that not everyone will have a build system setup to make this work. I'm going to need to do a major version upgrade and remove the CSS import and have users import it themselves as react-map-js does.

In the meantime, it looks like you might be able to use

[2019-04-12 03:11] SamSamskies opened #34 "Remove imported mapbox-gl-geocoder.css"
Importing mapbox-gl-geocoder.css from within this component forces users to have a build system setup to accommodate importing CSS files. Users should include the CSS however they'd like to, similar to how react-map-gl does it. https://uber.github.io/react-map-gl/#/Documentation/getting-started/get-started

Will do a major version bump when this is implemented.

[2019-04-13 23:56] SamSamskies commented on #33
@kjkurtz how are you loading the CSS for react-map-gl?

[2019-04-14 00:13] kjkurtz commented on #33
I was letting this library do it and used that next-css plugin in my nextjs config. I’m not in front of my computer at the moment but can give it another try later and give you more detail. Using that next-css plugin though should allow css imports, but maybe not for stuff in node_modules? Not sure right off hand.

[2019-04-14 01:52] SamSamskies commented on #33
A temporary work around for you could be to copy and paste my code (it's only one file) into your code base and load the CSS the same way that you load the react-map-gl CSS.

I plan to remove the CSS import and have users bring it in themselves, but not sure when I'll push that up.

[2019-04-14 02:04] SamSamskies commented on #32
@thanhphuong612 added inputValue param in v1.8.1. Let me know if you have any questions about it.

[2019-04-14 02:04] #32 closed

[2019-04-15 18:20] kjkurtz commented on #33
Cool, I did that and it worked at least for styling. I was able to bring it in using the same import statement you did for CSS but within my own component versus a library component. I'm guessing NextJS treats them differently.

I still have one goofy thing where because I am using `onClick` in ReactMapGL to zoom to polygon bounds, if you click in the Geocoder text box, it zooms to the bounds unde

[2019-04-16 02:14] SamSamskies commented on #33
This click event propagating through to the map is a known issue that I haven't decided on how to fix yet https://github.com/SamSamskies/react-map-gl-geocoder/issues/22. I describe a current work around in the issue.

[2019-04-25 02:20] SamSamskies opened #35 "Make props documentation easier to read"
Put props documentation into a table to make it easier to read.

[2019-04-28 09:04] #35 closed

[2019-04-28 09:04] #34 closed

[2019-04-28 09:09] SamSamskies commented on #33
@kjkurtz I just published v2 which removes the CSS import if you wanna switch back to importing this component as a dependency to take advantage of updates. See release notes here https://github.com/SamSamskies/react-map-gl-geocoder/releases. Let me know if you still need help with fixing the click event propagation problem.

[2019-04-28 09:09] #33 closed

[2019-04-30 12:57] kjkurtz commented on #33
Great, thanks! I'll give it a try. I've also been experimenting with the slightly different mapbox-gl wrapper found here: https://github.com/alex3165/react-mapbox-gl. I've felt it's a little easier to integrate custom components into that one vs Uber's, but I do miss the integration of the viewport with state that the Uber library has. Have you compared them at all?

[2019-04-30 22:55] SamSamskies commented on #33
I checked out that library a long time ago, but ended up going with Uber's react-map-gl for projects that I've worked on. I haven't explored other options much because react-map-gl + deck.gl has been easy to work with.

[2019-05-01 19:27] kjkurtz commented on #33
Gotcha. deck.gl looks pretty awesome, I haven't tried it yet. At this point trying to build out some basic custom features on top of MapboxGL. Thanks again for getting the update out!

[2019-05-04 04:29] benbowler opened #36 "window is not defined"
I'm not able to load the plugin at all via pnpm.

[code]

[2019-05-04 04:41] SamSamskies commented on #36
Hi @benbowler, could you provide some context as to how you're trying to use this module? For example, are you using Next.js, Gatsby, etc.? If you could provide a code sample using Code Sandbox that would be even better.

[2019-05-04 05:04] SamSamskies commented on #36
Just realized you typed `pnpm` and not `npm`. I'm actually not familiar with that package manager. Could you try loading just that `suggestions` package in your app using `pnpm`? If that doesn't work, I can file an issue with that library.

[2019-05-11 03:47] SamSamskies opened #37 "Making a different selection without clearing the input first doesn't update result to new selection"
Steps to recreate:

1. Type in `Hong Kong` and select first option.
2. Delete the `g` and the end of `Hong Kong`  and then select `Hong Kong International Airport` by clicking on it.

Result ends up being `Hong Kong` instead of `Hong Kong International Airport` as expected. 🙁

For step 2, if you hit  `Enter` instead of clicking on the option it works as expected.

[2019-05-11 04:39] #37 closed

[2019-05-13 10:01] yn5 commented on #28
@CodyMcMichael you can set 100% height and with in your state object too, using strings.

@SamSamskies I ran into the same problem and fixed it for now by putting height and width in the state object as @CodyMcMichael suggests. Tried to reproduce the issue by amending your Codesandbox starting point without any luck, tried setting all the dependency versions  to the ones I have in my project and a

[2019-05-14 03:51] SamSamskies commented on #28
@yn5 Thanks for reporting the issue. I'll look into it more this weekend. I can probably force this error by setting the width and height of the viewport to 0 and then figure out what to do from there. I'll probably just use the default zoom instead of trying to fit zoom to the viewport in that case.

[2019-05-14 09:33] jaronheard commented on #36
I ran into a similar issue as I was trying to get [CIVIC's component library](https://www.npmjs.com/package/@hackoregon/component-library) to work in SSR contexts, such as Gatsby.

Here's the similar error I saw running `gatsby build`, before using the null loader webpack config trick that Gatsby recommends, described in more detail in [this PR](https://github.com/hackoregon/civic/pull/531)

[code

[2019-05-20 07:02] SamSamskies commented on #28
Just pushed a new version that catches errors thrown by WebMercatorViewport when trying to zoom to bbox. Added some logging to help with debugging.

[2019-05-21 15:07] sabib0y opened #39 "Filtering suggestions further to trim results to a city"
This is probably a noob question on my part so apologies in advance.
I am currently trying to add geo-filtering to my map to lock things down to a city but search suggestions still show areas outside the target zone which tells me I'm probably doing something wrong.

Here's my code:

        <MapGL
            ref={this.mapRef}
            {...viewport}
            onViewportChange={this.handleVie

[2019-05-22 01:46] SamSamskies commented on #39
Hi @sabib0y, thanks for raising the issue. I'll look into this tonight.

[2019-05-22 02:15] SamSamskies commented on #39
You don't need the `filter` prop if you have the bounding box of the area that you are interested in. You can just use the `bbox` prop. Please see this example https://codesandbox.io/s/reactmapglgeocoder-bbox-example-zzlf1.

As for using the `filter` prop for filtering results, the function receives a single result in [Carmen GeoJSON](https://github.com/mapbox/carmen/blob/master/carmen-geojson.md)

[2019-05-22 02:19] SamSamskies commented on #39
Let me know if you'd like me to provide an example of using the `filter` prop as well.

[2019-05-24 03:14] SamSamskies commented on #39
@sabib0y also whipped up a `filter` example for you https://codesandbox.io/s/reactmapglgeocoder-filter-example-602xq

[2019-05-24 23:27] chiho13 commented on #36
I'm also getting this error

[2019-05-26 01:04] SamSamskies commented on #28
I believe I've fixed the issue with the latest version (v2.0.5). Let me know if you still have any problems after pulling the update.

[2019-05-30 21:22] #39 closed

[2019-05-30 21:27] SamSamskies commented on #36
Currently only `npm` and `yarn` are supported. It's not currently on my TODO list to support `pnpm`.

[2019-06-14 17:37] yn5 commented on #28
@SamSamskies I can confirm the issue is fixed in our app with the latest version :tada:

Thanks for your effort @SamSamskies and all other contributers to the issue!

[2019-06-15 02:47] #28 closed

[2019-06-23 22:18] leizleho opened #40 "Error: 422 Unprocessable Entity"
Hi, when running your codesandbox, console shows error 422 (unprocessable entity).

[2019-06-24 00:48] SamSamskies commented on #40
Hi @leizleho, I'm not seeing the error. Is this (https://codesandbox.io/s/l7p179qr6m) the sandbox that you're seeing the error in? If it is, what browser are you using?

[2019-06-24 06:29] leizleho commented on #40
Yeah, this one https://codesandbox.io/s/react-map-gl-geocoder-v2-example-74mcp and this one https://codesandbox.io/s/l7p179qr6m.
The  console error shows when you enter a place in the search box. I am using chrome developer tools.

This is the console error:
POST https://api.mapbox.com/events/v2?access_token=pk.eyJ1Ijoic21peWFrYXdhIiwiYSI6ImNqcGM0d3U4bTB6dWwzcW04ZHRsbHl0ZWoifQ.X9cvdajtPbs9JDMG-CMD

[2019-06-24 08:02] SamSamskies commented on #40
Ah, I see what you mean. I think you can just ignore that error. The Mapbox API seems to return a 422 occasionally while typing. If that error is causing you problems with the geocoder, let me know what search queries are causing you problems.

[2019-06-30 21:07] ExiaSR opened #41 "Autocomplete is broken on Android"
OS: Android 8.0.0
Model: VIE-AL10
Chrome: 75.0.3770.101

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/8373004/60402138-c49bb480-9b48-11e9-9f0a-3670d38337e9.gif)

[2019-07-01 00:26] SamSamskies commented on #41
Thanks for reporting issue. Unfortunately, I don't have an Android to debug this. If anyone would like to tackle this issue, PRs are much appreciated.

[2019-07-01 00:26] #40 closed

[2019-07-01 08:36] Giboork commented on #36
getting this error while using next.js

[2019-07-01 15:02] SamSamskies commented on #36
Hi @Giboork, thanks for reporting the issue. Looks like this may require a PR into the suggestions dependency to fix this. I don't think `window.Suggestions` should be set if there's no `window` https://github.com/tristen/suggestions/blob/gh-pages/index.js#L57.

In the meantime, I might be able to figure out a way to hack around this. Not sure if I'll have time this week though.

If you want to tr

[2019-07-08 14:54] vnugent opened #42 "how to provide inputValue and perform search"
When I provide an `inputValue` the value is simply displayed in the box but no search is done.  How do you also tell the geocoder to also do the search?

[2019-07-09 02:14] SamSamskies commented on #42
You can't unless you get a handle to Mapbox gecoder object using the onInit prop. I do not recommend performing imperative actions on the geocoder object though. You could get yourself into an infinite rendering loop if you're not careful.

I suggest hitting the Mapbox Geocoding API directly to perform your search. https://docs.mapbox.com/api/search/

[2019-07-29 15:39] thanhphuong612 commented on #41
@ExiaSR @SamSamskies I'm having the same issue too :( . This does not happen with `mapbox-gl-geocoder`

[2019-07-30 02:02] SamSamskies commented on #41
@thanhphuong612 if you can provide any information about what may be causing this, I can look into it. I don't have an Android phone, so I'm not even able to reproduce this issue. Other than that, feel free to spread the word to others that may have an Android phone and would be willing to help debug. Maybe they could fix it and send a PR or at least provide some insight into why this may be happe

[2019-07-30 02:06] #42 closed

[2019-07-31 19:24] thanhphuong612 commented on #41
@SamSamskies thanks for looking into it.

It seems to me for some reasons on Android, `componentDidUpdate` is called 3 times when the input gets focused, and after that the keyboard disappears and the input lost focused because the geocoder is removed inside `componentDidUpdate`

It looks like `componentDidUpdate` does not get called for desktop or iPhone.

The issue happens on your demo https://c

[2019-08-01 02:08] SamSamskies commented on #41
@thanhphuong612 thanks, this is helpful. I'll try and take a look at this this weekend.

[2019-08-03 14:15] SamSamskies commented on #41
@thanhphuong612 could you try this demo to see if the issue still occurs? https://codesandbox.io/s/v0m14q5rly

[2019-08-04 02:54] SamSamskies commented on #36
I finally got a chance to look into this more. I found a workaround that works and is recommended by Zeit. https://github.com/zeit/next.js/wiki/FAQ

[code]

At some point, I'll try and make a PR to the `suggestions` library to only set `window.Suggestions` if `window` is not undefined. If someone else gets around to doing that before me, could you please post a comment here to let everyone know. I

[2019-08-04 04:35] SamSamskies commented on #41
@thanhphuong612 I improved the rendering by changing the component to a PureComponent in v2.0.8, so now the component only updates when the props change. I think this problem may go away as long as you're not passing in new object references or anonymous functions as props. Let me know if it fixes the problem or not.

[2019-08-04 05:41] SamSamskies commented on #22
I added an example of how to fix this problem using a custom MapController. https://codesandbox.io/s/react-map-gl-geocoder-ignore-events-example-x652y

[2019-08-05 15:26] thanhphuong612 commented on #41
@SamSamskies thanks for looking into this. Unfortunately the issue is still not fixed.
I tried to debug and see that the `removeGeocoder` is still called in `componentDIdUpdate`

[2019-08-05 19:40] SamSamskies commented on #41
@thanhphuong612 it is supposed to do that. However, v2.0.8 only re-renders when the props have changed. So componentDidUpdate should only change when you change the props. Can you post a code snippet of the JSX for your Geocoder component?

You may also need to ignore mouse interaction events on the Geocoder component. I posted an example of how to do that in this issue https://github.com/SamSamsk

[2019-08-05 23:06] thanhphuong612 commented on #41
@SamSamskies I have tried your demo https://codesandbox.io/s/v0m14q5rly with v2.0.8, and the issue is not fixed yet on this demo.
I haven't tried v2.0.8 on my code yet.

If you do not have Android phone, you can try https://www.browserstack.com/. It offers the ability to test on Android device for free. I can reproduce the issue on browserstack as well.

[2019-08-05 23:52] SamSamskies commented on #41
@thanhphuong612 the demo you linked is using version v2.0.5. Try it with this one https://codesandbox.io/s/react-map-gl-geocoder-ignore-events-example-x652y. If that doesn't work, I'll try and look into it more using BrowserStack maybe this weekend.

[2019-08-06 17:04] thanhphuong612 commented on #41
Yay! The issue is fixed with v2.0.8. Thanks a lot @SamSamskies 🎉

[2019-08-06 17:16] #41 closed

[2019-08-09 10:44] apisak-tdg opened #44 "Need some help"
[code]
For my example code above, I cannot use `<Geocoder>` component inside `<DeckGL>`. I got this error.
<img width="761" alt="Screen Shot 2562-08-09 at 17 43 27" src="https://user-images.githubusercontent.com/53938522/62773762-38789780-bacd-11e9-832e-a9759d892c2e.png">
 @SamSamskies please help me for this, thanks 😄

[2019-08-09 13:19] SamSamskies commented on #44
Hi @apisak-tdg, the mapRef prop should be the ref for your react-map-gl component and not your deck.gl component. It looks like you are not saving the ref to your react-map-gl component. You need to save the ref to your StaticMap in a var. Then you could pass that ref to the Geocoder component.

[2019-08-15 22:57] pierobj opened #45 "GeoJsonLayer not rendering"
Hey there! I'm having some issues rendering the GeoJsonLayer with the searchResultLayer...
I am using the Demo as a base code (https://codesandbox.io/s/l7p179qr6m) and everything works fine, but the red circle isn't showing up in the results. Any guess? Thanks in advance!

[2019-08-15 23:07] #44 closed

[2019-08-15 23:10] SamSamskies commented on #45
Hi @pierobj, that would be hard to know without seeing your code. If you could post a simple example demonstrating your problem on Code Sandbox, I can take a look at it.

[2019-08-15 23:13] SamSamskies commented on #45
Also, GeoJsonLayer is a deck.gl component. Have you read the docs for deck.gl? https://deck.gl

[2019-08-16 03:17] apisak-tdg commented on #44
Thanks @SamSamskies, I will try with your feedback (sorry for late reply)

[2019-09-01 13:22] marek-sed opened #48 "Improvement - Map reference"
You might not need a map when you are not using flyTo from mapbox gl.

[2019-09-02 02:45] SamSamskies commented on #48
Hi @marek-sed, without the map, nothing will work. This component performs imperative actions using the map. That's why the render function returns null. https://github.com/SamSamskies/react-map-gl-geocoder/blob/master/src/index.js#L230

[2019-09-02 06:49] marek-sed commented on #48
copied your geocoder to our project, everything works ;)

[2019-09-02 15:04] SamSamskies commented on #48
The imperative actions I was talking about are the Mapbox map imperative actions such as `addControl` https://github.com/SamSamskies/react-map-gl-geocoder/blob/master/src/index.js#L93.

When I first started this project, I didn't know you could add the `@mapbox/mapbox-gl-geocoder` object by appending it to an outside HTML node. I didn't discover this until later when someone raised an issue that t

[2019-09-02 19:40] marek-sed commented on #48
Yeah was thinking about a bit it seems like a new component now.
Will try to opensource it after I have some more time.

btw thank you for making this library its 💯

[2019-09-02 20:11] #48 closed

[2019-09-04 07:45] matinfo opened #49 "Search field is reader multi time on page change or server reload"
I implemented like in your example. Search field working well. But if I switch to an other page or when local dev server is reload on files change, the search field is not destroyed and an other appears.

How to fix that?
<img width="322" alt="Screenshot 2019-09-04 at 09 43 44" src="https://user-images.githubusercontent.com/460827/64235407-95167900-cef8-11e9-9efc-f72514cc3c8d.png">

[2019-09-04 16:39] SamSamskies commented on #49
Hi @matinfo, what version are you using? Are there any errors in the dev console when this happens?

[2019-09-05 06:17] matinfo commented on #49
@SamSamskies the version used are:
"mapbox-gl": "^1.3.0",
"react": "^16.9.0",
"react-dom": "^16.9.0",
"react-map-gl": "^5.0.10",
"react-map-gl-geocoder": "^2.0.11",
"react-router-dom": "^5.0.1",

[2019-09-06 01:29] SamSamskies commented on #49
Thanks for the info. I've never used the reuseMaps prop before. I'll need to look into that.

[2019-09-09 10:48] mohridwanhdp opened #50 "Could not find declaration for module"
I can't run my app because the import proccess always says
"Could not find a declaration file for module 'react-map-gl-geocoder'. '/..../app-map/node_modules/react-map-gl-geocoder/dist/index.js' implicitly has an 'any' type."

Can you help me how to fix it?

I had install the react-map-gl-geocoder

![line_20190909_174732](https://user-images.githubusercontent.com/26524489/64524978-f3dd5780-d329-11

[2019-09-09 14:25] SamSamskies commented on #50
Seems like you're using Typescript. Currently, there are no published types for this lib. You can use shorthand declaration to explicitly define this module as an 'any' type. https://www.typescriptlang.org/docs/handbook/modules.html#shorthand-ambient-modules

[2019-09-10 22:12] adesurirey opened #51 "queryParams prop seems ignored"
Hello and thanks for this nice library!
I'm passing a `queryParams` prop to geocoder but it doesn't change the request. Am I doing it wrong?

[code]

[code]

Result in network console stays the same and does not include my params:
[code]

[2019-09-10 23:21] SamSamskies commented on #51
Hi @adesurirey, there is no queryParams prop. Did you see that in an example somewhere?

Check the [README](https://github.com/SamSamskies/react-map-gl-geocoder) for supported props. Here's a bbox example https://codesandbox.io/s/zzlf1. For your `proximity` prop, I think you can pass in your `center` object.

[2019-09-11 07:03] adesurirey commented on #51
Well your right, I was on the mapbox-gl-geocoder readme... 🤦‍♂️Thanks for your answer.

[2019-09-11 07:03] #51 closed

[2019-09-23 03:45] Laneville opened #52 "kepler.gl implementation"
Do you know how I could implement this into kepler.gl's module?

I tried this.... but no luck

`

import React, {Component} from 'react';
import {connect} from 'react-redux';

import AutoSizer from 'react-virtualized/dist/commonjs/AutoSizer';
import KeplerGl from 'kepler.gl';
const MAPBOX_TOKEN = 'pk.eyJ1IjoiemxhbmV2aWxsZSIsImEiOiJjam1iN3hnanMxZnRsM3Fsa2h1Mno3YmZ5In0.eAVqS-I5N0xm0wy3ycSM6w'; // es

[2019-09-24 02:16] SamSamskies commented on #52
Hi @Laneville, thanks for raising this issue. Unfortunately, I haven't tried using this with kepler.gl yet. I'll look into it and let you know.

[2019-09-25 16:25] mddilley opened #53 "Cursor interacts with map through the geocoder control"
When hovering the cursor over the geocoder control, clicking and dragging with the cursor moves the map below. The map also zooms when double-clicking over the search bar (see below). This can cause issue when drag-selecting the string in the control.

The issue is replicated in the demo in this repo (https://codesandbox.io/s/l7p179qr6m).

Does anyone have a workaround for this? I've tried modifyi

[2019-09-26 04:32] SamSamskies commented on #53
Hi @mddilley, `react-map-gl` places a map overlay to capture events. To avoid this you could place the geocoder outside of the map using the `containerRef` prop https://codesandbox.io/s/v0m14q5rly. Or you use a custom `MapController` to capture the events https://codesandbox.io/s/react-map-gl-geocoder-ignore-events-example-x652y.

[2019-09-26 17:32] mddilley commented on #53
@SamSamskies - this is amazing. Thanks so much for steering me in the right direction and providing the code examples. This is extremely helpful in getting it right for our users. I like the custom `MapController` route, and I'll be implementing asap.

[2019-09-26 19:08] #53 closed

[2019-10-05 20:10] SamSamskies commented on #2
* add simple example app that uses this Geocoder
* use https://www.cypress.io/ to write e2e tests

[2019-10-30 08:27] adesurirey opened #54 "422 error: Query too long - 21/20 tokens"
Some of my users are experiencing 422 errors in production.

Here is an example of log received through Sentry.io :

[code]

As seen in Mapbox documentation, we may have to filter words in query so it never sends more than 20 words: https://docs.mapbox.com/api/search/#geocoding-api-errors

Let me know if you have the same issue and if I can do anything.

Thanks

[2019-10-30 10:17] Mrebai opened #55 "reverseGeocode not working"
I'm trying to display the address of the location on click but it's not showing in the geocoder.

[code]

[2019-10-31 04:33] SamSamskies commented on #54
Hi @adesurirey, I've never come across this issue before. I think it would help to understand how your users are using the geocoder. Why is the query so long? Are the users copying and pasting it? Queries that long don't work with Mapbox's geocoder. I just tried it here https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder/. If it's that long because they are editing a result they previo

[2019-10-31 04:43] SamSamskies commented on #55
Hi @Mrebai, you can't programmatically execute a reverse geocode query like this with this component. I'd suggest hitting the Mapbox API directly on click and then updating your viewport using the response. https://docs.mapbox.com/api/search/#reverse-geocoding

[2019-10-31 04:44] SamSamskies commented on #55
And if you want to update the geocoder input value with the response, you can use the `inputValue` prop to do that.

[2019-10-31 12:36] adesurirey commented on #54
Hi @SamSamskies, can't know exactly but I think you're right about copy and pasting long address. I'll go with your solution. Thanks !

[2019-10-31 12:36] #54 closed

[2019-10-31 18:59] alexsinfarosa opened #56 "Adding Geocode component generates bunch of errors"
The errors occur only when adding the Geocoder component.

[code]

### The log with the errors:

[code]

[2019-11-01 05:08] SamSamskies commented on #56
I've never tried using this component using a functional component and hooks, so maybe there's an issue with that. The geocoder is not initialized until after the Geocoder component is mounted. The mapbox map instance should exist by that point, but in your case it's not.

Please provide version numbers of react, react-map-gl, and react-map-gl-geocoder. Also, it helps a lot if you provide a Code S

[2019-11-01 06:07] SamSamskies commented on #56
One other thing to try is React.useRef instead of React.createRef https://stackoverflow.com/questions/54620698/whats-the-difference-between-useref-and-createref. createRef creates a new ref on every render.

[2019-11-01 08:43] alexsinfarosa commented on #56
I switched to React.useRef instead and it works, no need to convert to a class component. Thanks a lot!

[2019-11-09 01:04] debotos opened #57 "Search text is not showing and sometimes shows wrong list item"
Here is the error - https://www.loom.com/share/557cb7a2172342d3b7968dac4a197b90

When I am selecting a search result it doesn't show up on the input field and sometimes shows the wrong one(previous one).

[2019-11-09 01:22] debotos commented on #57
I got it. It can be solved via 'inputValue' props. I thought that it will be handled automatically.

[2019-11-09 01:22] #57 closed

[2019-12-12 18:53] TAQ2 commented on #22
The solution works well thanks! Could the CustomMapController be something that is exported from this library?

[2019-12-15 18:52] SamSamskies commented on #22
Hi @TAQ2, thanks for the idea, but I don't think I want to do that since `react-map-gl` is a peer dependency. It's possible that `MapController` could have a different API depending on the version of `react-map-gl` being used in the app.

Maybe I can update the README instead to include links to all my Code Sandbox examples including this one. That way at least people won't have to dig through pas

[2019-12-15 19:03] SamSamskies opened #58 "Update README"
**Demo section**
- include demo that is a functional component and uses hooks
- include code that demos how to ignore map events in the linked Code Sandboxes

**Example code displayed**

- switch to a functional component that uses hooks.
- includes code that demos how to ignore map events

[2019-12-16 14:20] TAQ2 commented on #22
Yeah that sounds like a good idea :)

[2019-12-20 18:00] SamSamskies opened #59 "Whitelist files to include in npm package"
For example, the screenshot image in the README does not need to be distributed with the package. This file is unnecessarily bloating the package.

[2019-12-28 19:54] CSFlorin commented on #22
How would I do this on a custom element with no mapRef and containerRef props?

[2019-12-30 04:02] SamSamskies commented on #22
Hi @CSFlorin, what do you mean by do this on a custom element? Also, `mapRef` is a required prop.

[2020-01-13 21:03] kjkurtz commented on #22
To the example solution above, it only handles the input box itself. When you click on the suggestions, you have the same problem. At first look, it seems like the easiest solution is to just extend what @SamSamskies did and also check for these classes:
`mapboxgl-ctrl-geocoder--suggestion-title` and `mapboxgl-ctrl-geocoder--suggestion-address` in the custom controller.

[2020-01-14 00:47] SamSamskies commented on #22
Hi @kjkurtz, thanks for raising this issue. I didn't know about that. Maybe I can export a helper function that checks if a click was made on any of the geocoder HTML elements. It would be safer because if I ever update the `@mapbox/mapbox-gl-geocoder` dependency, the class names could possibly change. It would be better to abstract these class names away from users of this component.

For now, I

[2020-01-19 09:33] GreenWithMV opened #60 ""Fake" Geocoder results from Array"
Less an issue and more a question. I have been using the Geocoder on one of my projects and it works great. However, I would like to import some data from TripAdvisor but they do not have the same cityId or lat/long values as the setup I am using. So, I would like to take the array of city names I have from TA and have them automatically go into the Geocoder and build an array of the results. Just

[2020-01-20 21:32] SamSamskies commented on #60
Hi @GreenWithMV, I'd suggest hitting the Mapbox API directly for what you are trying to do. https://docs.mapbox.com/api/search/

[2020-01-20 23:50] #60 closed

[2020-01-22 11:03] heshamelmasry77 opened #61 "how to use only the Geocoder and not the map"
I tried to use only the Geocoder so i can only get the lat and lng. it does work but i have some issue regarding a container
<img width="1016" alt="Screenshot 2020-01-22 at 13 02 51" src="https://user-images.githubusercontent.com/15607302/72889070-8e599880-3d17-11ea-9509-c29034cedbc9.png">

i did that :

[code]

[2020-01-22 17:49] SamSamskies commented on #61
Hi @heshamelmasry77, is it possible to post the code for the whole component? It would be even better if you could put it in a Code Sandbox and link the sandbox.

[2020-01-22 21:10] SamSamskies commented on #61
Also, are you trying to use this component without the `react-map-gl` map? Because if you are, that's not possible. If all you want to do is geocoding, you can hit the Mapbox API directly. https://docs.mapbox.com/api/search/

[2020-01-23 12:51] heshamelmasry77 commented on #61
@SamSamskies Hey :) yeah i actually wanted to use the search stand alone i constructed my search bar. I will post it here once i finish it. Thank you a lot. you may close this issue.

[2020-01-23 12:51] #61 closed

[2020-02-01 16:08] AntwanSherif commented on #58
I also would like to know how to style the geocoder search input to look as my custom input component

[2020-02-02 19:28] SamSamskies commented on #58
Hi @AntwanSherif, you can override the `@mapbox/mapbox-gl-geocoder` CSS styles https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.2.0/mapbox-gl-geocoder.css. One problem with that is if `@mapbox/mapbox-gl-geocoder` ever changes the class names and I upgrade to that version, your overrides will break.

[2020-02-06 20:42] AntwanSherif commented on #61
Hi @SamSamskies,

I want to place the geocoder outside the map, but instead of adding the geocoder ref to a div, I want to customize it/use it as one of my components.

It's a nice idea  to use the APIs directly but it's a lot of work and re-implementation of the logic provided by your library

[2020-02-06 20:55] AntwanSherif commented on #19
@SamSamskies the demo has an error

[2020-02-16 22:39] AntwanSherif commented on #10
@SamSamskies Is there any way to set position to top-center?

[2020-02-16 23:53] SamSamskies commented on #10
You'll need to place the geocoder component outside of the map using the `containerRef` prop. You'll have full control of the placement of the geocoder using CSS by doing this.

[2020-03-03 01:06] I1mran commented on #56
I am using the useRef() but still facing issue with.
![image](https://user-images.githubusercontent.com/32770021/75732703-0783dc80-5d15-11ea-8b35-d06bf6df3b92.png)

[2020-03-03 01:22] SamSamskies commented on #56
Hi @I1mran, is it possible for you to share you component code? It will be hard to debug without seeing that.

Contents should look something like this...
[code]

Also, make sure that the prop you are using on `Geocoder` is `mapRef` and not `ref`. It's passing `ReactMapGL`'s ref down to `Geocoder` cause `Geocoder` needs that to get a handle to the underlying Mapbox GL Map object.

[2020-03-03 02:03] I1mran commented on #56
after some changes with the code, now seeing the issue of blank screen without mapbox gl instance.

[code]

[2020-03-03 02:19] SamSamskies commented on #56
On your `MapGL` component, you should be using the `ref` prop because you want the actual ref to that component instance. `MapGL` component doesn't have a prop called `mapRef`.

[2020-03-03 02:24] I1mran commented on #56
changed to
[code]
Same restuls.

[2020-03-04 12:38] scottbasgaard commented on #56
Same issue here, Can this be used with DeckGL and StaticMap components?

[2020-03-04 16:33] SamSamskies commented on #56
What version number of `react-map-gl` are you using? I haven't tried using this component with v5 of `react-map-gl` yet. It's possible that they made breaking changes to their API which would cause issues for this component.

The ref that needs to be passed to the `mapRef` prop of this component is required to be a ref to an instance of  the default export of `react-map-gl`. It won't work if you p

[2020-03-09 09:09] Maruthasalam commented on #56
In functional component use useRef instead of createRef it will work

[2020-03-29 03:23] SamSamskies commented on #56
Finally got around to making a Code Sandbox example of using `react-map-gl-geocoder` in a functional component using hooks. https://codesandbox.io/s/react-map-gl-geocoder-v2-example-096iq

[2020-03-30 23:52] ncesar commented on #55
if anyone comes across this problem, use the search playgrounds, things get way easier with this.
https://docs.mapbox.com/search-playground

[2020-03-31 23:13] micahmones commented on #61
@SamSamskies @AntwanSherif  did either of you have a solution ?

[2020-04-10 11:07] axleun commented on #22
+1 on the issue, I have the same thing. Let me try the containerRef solution for now, however I do want the geocoder to appear visually over the map.. @SamSamskies if you have the time could you make some sample css on how to achieve that. If not that's ok I will still try, thanks.

[2020-04-10 17:57] SamSamskies commented on #22
Hi @axleun, here's an example for you https://codesandbox.io/s/react-map-gl-geocoder-using-containerref-to-ignore-events-rewdh

[2020-04-29 19:55] sajmaru commented on #41
Doesn't work for react hooks
Pls help

[2020-04-30 05:49] SamSamskies commented on #41
Hi @sajmaru, could you provide a Code Sandbox example? It should work when using functional components and hooks.

[2020-04-30 20:19] I1mran opened #63 "Type issue while onHover and onClick triggers."
Hello, I am facing the issue of gl geocoder disable after adding to clicks popup on MapGL instance, on hover, and onClick popup
Let me know how I can resolve this.

[2020-05-01 09:35] humbkr opened #64 "Wrong item selected in autocomplete on chrome android"
Hello,

I encountered a weird bug on Android on the autocomplete: when you scroll in your page then click on an item, the selected item that is put in the field is not the one you pressed on, but the one that was originally at this position before scrolling.

Sandbox to reproduce the bug: https://codesandbox.io/s/react-map-gl-geocoder-v2-example-1yhuc

Exact steps:
- start typing in the field
- th

[2020-05-01 12:41] humbkr commented on #64
Update: this is an issue with the mapbox-gl-geocoder library, I opened an issue on their side: https://github.com/mapbox/mapbox-gl-geocoder/issues/357

On a side note, the mapbox-gl-geocoder dependency is several versions behind, and I have other bugs  that may have been fixed on later versions, @SamSamskies do you plan to upgrade anytime soon?

[2020-05-01 16:11] SamSamskies commented on #64
Hi @humbkr, thanks for reporting the issue. Unfortunately, I'm not sure when I'll get around to upgrading. I'll gladly accept PRs though 😀.

[2020-05-01 16:15] SamSamskies commented on #63
Hi @I1mran, is it possible for you to provide a Code Sandbox (https://codesandbox.io/) that demonstrates this issue?

[2020-05-05 18:31] timpegas commented on #22
Great work with this library @SamSamskies 👍
I have integrated `react-map-gl-geooder` in my webapp as it bundles really well with the `react-map-gl` library. I have the following issue, though:
Whlle on a mobile device, swiping up/down the suggestion list triggers map movement instead of hiding the keyboard in order to see the full suggestion list.
On a first note, I applied your suggestion on usin

[2020-05-08 14:05] humbkr opened #65 "Input field loses focus after selecting a result when "proximity" option is set"
Input field loses focus after selecting a result when "proximity" option is set.

To reproduce:
- Open the official example on codesandbox
- Search for something
- Click on a result

=> the map is updated, the search field still has focus, OK

- Modify the example to add for example `proximity={{ latitude: 43, longitude: 1.4 }}` in the options
- Search for something

=> the map is updated but the

[2020-05-09 15:43] SamSamskies commented on #65
Hi @humbkr, thanks for reporting the issue. I was able to reproduce the issue following your steps. I'm not sure why it's doing that, but it's possible that I could focus the input after every search to make sure that it always retains focus.

[2020-05-09 16:45] SamSamskies commented on #65
I figured out why it's doing this. `react-map-gl-geocoder` is creating a new geocoder instance every time the props change. There was a use case for this in the past, but at the moment I cannot recall what it was. I think someone wanted to show and hide or move the geocoder based on some user controls they made. One of these days I'll get around to working on v3, so that users don't have to worry

[2020-05-11 10:30] humbkr commented on #65
Thanks for your help.
I managed to make it work for my specific use case, albeit not how I would ideally like to.

The problem is that I would like to use proximity to filter subsequent searches, example:
- user arrives on a page, we don't know his location
- he searches for a location and select a result
- he removes the result and search again
- <I would like to filter the second search dependin

[2020-05-11 16:40] SamSamskies commented on #65
You can still accomplish what you are trying to do.

For the proximity, you can store the lat and lng in variables in state, update the proximity object values using those values, and then pass those as deps to the `useMemo` function in my example.

For setting focus to the input you can store a handle to the Mapbox geocoder object by using the `onInit` prop and imperatively focusing the input whe

[2020-05-11 16:55] yurivangeffen opened #66 "Paste on Mac doesn't run the query"
Pasting (Cmd+V) on Mac doesn't run the query like it does on other platforms or when typing.
This should be fixed in v4.5.0 of the underlying package: https://github.com/mapbox/mapbox-gl-geocoder/issues/140. However, manually upgrading mapbox-gl-geocoder to v4.5.0 doesn't seem to fix it.

The following is a non-ideal workaround:

[code]

[2020-05-12 19:26] I1mran commented on #63
I don't have code right now for sharing.

[2020-05-13 11:21] timpegas opened #67 "Return key blurs suggestion list on mobile"
Great work with this library @SamSamskies 👍
I have integrated `react-map-gl-geooder` in my webapp as it bundles really well with the `react-map-gl` library. I have the following issue, though:
Whlle on a mobile device, focusing the geocoder input triggers the keyboard, thus hiding half of the suggestion list results. Swiping up/down the suggestion list triggers map movement instead of hiding the k

[2020-05-17 15:55] chiho13 commented on #56
it's not working with next.js

[2020-05-17 21:57] SamSamskies commented on #67
Hi @timpegas. Is there a reason that you need more than 5 suggestions? By default, 5 suggestions are shown because generally that should be enough.

If you do need to customize it further and display the suggestions even without the input focused, I think it would be better to roll your own geocoder component that is not a wrapper of `mapbox-gl-geocoder`. You can use the Mabpox geocoding API direc

[2020-05-17 22:00] SamSamskies commented on #56
Hi @chiho13, this is a known issue that I haven't got around to fixing. A work workaround is described here https://github.com/SamSamskies/react-map-gl-geocoder/issues/36#issuecomment-517969447.

[2020-05-17 22:04] chiho13 commented on #56
@SamSamskies i used dynamic import in next.js but can't replicated the results in the codesandbox

[2020-05-18 22:58] chiho13 commented on #56
@SamSamskies i got it working, but i had to force override .mapboxgl-ctrl css class to display block important! to show the input box

[2020-05-21 11:23] timpegas commented on #67
@SamSamskies I see your point, I was hoping I could achieve something more responsive, without having to limit the suggestion list results.

Arguably, implementing a custom geocoder will do the work. This was the last resort for me, seeing there is a plethora of ready packages that bundle well with mapbox, if you also include the limited amount of time for implementation atm. Anyway, thank so so m

[2020-05-21 11:23] #67 closed

[2020-05-21 15:15] chiho13 opened #68 "restrict geocoder with max bounds"
is it possible to restrict search results to max bounds?

[2020-05-27 03:00] CassiusHR commented on #36
This worked for me using Gatsby JS

[2020-06-03 07:20] neeleshbisht99 opened #69 "Marker prop is absent in the wrapper"
Marker prop is absent I guess , which needs to be added

[2020-06-03 07:22] neeleshbisht99 opened #70 "Documentation about `onError` prop in the wrapper"
A little more documentation / cases when  onError gets executed is required

[2020-06-10 23:40] andrewshrout opened #71 "Demo doesn't load - returns error"
`SyntaxError
Invalid left-hand side expression in prefix operation
xo
https://codesandbox.io/static/js/sandbox.9bb533ef6.js:1:199475
e.value
https://codesandbox.io/static/js/sandbox.9bb533ef6.js:1:216433
e.value
https://codesandbox.io/static/js/sandbox.9bb533ef6.js:1:239498
t
https://codesandbox.io/static/js/sandbox.9bb533ef6.js:1:216129
    at evaluate (https://l7p179qr6m.csb.app/node_modules/
de

[2020-06-13 21:41] SamSamskies commented on #71
Hey @andrewshrout, thanks for raising the issue. Seems to be a problem with Code Sandbox. It seems like none of the sandboxes using deck.gl are working at the moment. I removed deck.gl from the demo which fixed the problem. https://codesandbox.io/s/l7p179qr6m

[2020-06-13 21:41] #71 closed

[2020-06-19 19:50] Marius-Adam commented on #56
Hi @SamSamskies. Been having the same problem as @I1mran. When I checked out your CodeSanbox I am getting a SyntaxError
Invalid left-hand side expression in prefix operation

[2020-06-19 20:39] SamSamskies commented on #56
Hi @Marius-Adam, currently all Code Sandboxes with deck.gl seem to be having that issue. I fixed the example by removing deck.gl. I had fixed it earlier this week, but I guess my changes didn't save. Try it now https://codesandbox.io/s/l7p179qr6m.

[2020-06-20 10:45] Marius-Adam commented on #56
Works great! Thanks

[2020-06-20 11:32] Marius-Adam opened #72 "Adding Geolocate Control - maxZoom ignored"
I'm using Geolocate Control property auto to trigger geolocate on successful mounting of component.
I notice that the default maxZoom of 15 is ignored and the geolocate actually zooms in to 20.
See below my code

import "mapbox-gl/dist/mapbox-gl.css";
import "react-map-gl-geocoder/dist/mapbox-gl-geocoder.css";
import React, { useState, useRef } from "react";
import MapGL, { GeolocateControl } from

[2020-07-17 13:54] josephfusco opened #74 "Option to add control that gets a user's location?"
Thank you for your work on the project, it has been a pleasure using this package.

I was curious what the recommended way would be to display a 'locate user' button that gets the user's current location and automatically fills the geocoder input with that value? Similar to the locate user example in mapbox's docs: https://docs.mapbox.com/mapbox-gl-js/example/locate-user/

[2020-08-07 23:45] rachelombok opened #75 "Cannot Add Custom CSS"
Hello, I had a question about adding CSS, since I could not find any other issues related to this. I am trying to move the Geocoder Search farther down the map than where it is positioned at 'top-right' and I cannot change it's position, whether I use inline or internal CSS:

[code]

Is there a way to customize the Geocoder search bar? Would I have to edit the mapbox-gl-geocoder.css file? I assume

[2020-08-08 00:23] SamSamskies commented on #75
Hi @rachelombok, check out the `containerRef` prop which gives you more control on where to place the component. Here's an example: https://codesandbox.io/s/v0m14q5rly.

[2020-08-08 00:26] SamSamskies commented on #75
If you want to customize the how the options are rendered, you and can use the render prop. If you need more customization than that, I would suggest building your own Geocoder component using the Mapbox geocoding API directly.

[2020-08-08 01:03] rachelombok commented on #75
Thank you that worked!

[2020-08-08 01:03] rachelombok commented on #75
Thank you that worked!

[2020-08-08 01:03] #75 closed

[2020-08-16 03:25] SamSamskies commented on #74
Hi @josephfusco, I think that should be implemented as a separate component. It looks like `react-map-gl` actually provides a `GeolocateControl` component http://visgl.github.io/react-map-gl/docs/api-reference/geolocate-control.

[2020-08-16 03:25] #74 closed

[2020-08-16 03:27] SamSamskies commented on #74
Looks like you could use the `onGeolocate` prop for the `GeolocateControl` in combination with the `inputValue` prop of this component to accomplish what you're trying to do.

[2020-08-16 03:29] #72 closed

[2020-08-16 03:36] #56 closed

[2020-08-16 03:36] #59 closed

[2020-08-16 03:42] SamSamskies commented on #68
Hi @chiho13, you can use the `bbox` prop. Here's an example https://codesandbox.io/s/reactmapglgeocoder-bbox-example-zzlf1.

[2020-08-16 03:42] #68 closed

[2020-08-16 03:44] #65 closed

[2020-08-16 03:44] #63 closed

[2020-08-16 03:45] #55 closed

[2020-08-16 03:47] #50 closed

[2020-08-20 17:19] josephfusco commented on #74
Thank you @SamSamskies!

[2020-08-23 18:41] SamSamskies commented on #66
Hey @yurivangeffen, thanks for raising this issue. It should be fixed in the latest release which is v2.0.14.

[2020-08-23 18:41] #66 closed

[2020-08-27 02:10] #58 closed

[2020-08-27 02:16] #22 closed

[2020-08-29 23:14] SamSamskies commented on #69
Hi @neeleshbisht99, `marker` prop has been added and it defaults to `true` which is the currently the same behavior as `mapbox-gl-geocoder`. https://github.com/SamSamskies/react-map-gl-geocoder/releases/tag/v2.1.0

[2020-08-29 23:14] #69 closed

[2020-09-01 15:10] debotos opened #77 "How to replace left side search icon with my custom icon?"
<img width="232" alt="Screenshot 2020-09-01 at 9 07 57 PM" src="https://user-images.githubusercontent.com/29367677/91869259-7c6daa00-ec97-11ea-92fb-a1953b9f94d4.png">

[2020-09-01 22:54] SamSamskies commented on #77
Hi @debotos, this component is pretty much just a wrapper around `mapbox-gl-geocoder` and unfortunately I don't think there's a nice way to do that with the `mapbox-gl-geocoder` API. As a hack, you could use CSS to absolutely position your icon over the default icon.

[2020-09-02 04:21] SamSamskies commented on #2
Finally got around to knocking this out 🎉 https://github.com/SamSamskies/react-map-gl-geocoder/commit/2fb1fcc74e671fd3eaf12a5e0c757019969f475b

[2020-09-02 04:21] #2 closed

[2020-09-02 10:22] vlady-yakymenko commented on #56
Hi @SamSamskies, I am using react-map-gl and react-map-gl-geocoder in Electron App(https://github.com/electron-react-boilerplate/electron-react-boilerplate), it works well in dev mode, but on production mode, it is showing errors like
![image](https://user-images.githubusercontent.com/65185661/91969681-293f3a00-ed1f-11ea-9ca7-c198574eda7c.png)
if you can let me know any thought on this, it would b

[2020-09-02 10:27] vlady-yakymenko opened #78 "react-map-gl-geocoder in electron-react-boilerplate"
Hi @SamSamskies, I am using react-map-gl and react-map-gl-geocoder in Electron App(https://github.com/electron-react-boilerplate/electron-react-boilerplate), it works well in dev mode, but on production mode, it is showing errors like
![image](https://user-images.githubusercontent.com/65185661/91970150-e5006980-ed1f-11ea-8f14-ef0fcb2532af.png)

if you can let me know any thought on this, it would

[2020-09-02 16:13] SamSamskies commented on #78
Hi @vlady-yakymenko, does your app work in production mode if you remove the `react-map-gl-geocoder` component from your render function? Like is there a map showing on the page if you remove the geocoder, but leave the `react-map-gl` instance? If the map isn't working, you'll need to fix that first. `react-map-gl-geocoder` will only work if the map is created successfully. If you app does work wi

[2020-09-02 17:56] debotos commented on #77
Hey @SamSamskies, Thanks.

[2020-09-04 01:35] #77 closed

[2020-09-05 02:36] vlady-yakymenko commented on #78
Hi @SamSamskies thanks for the quick response!
when I remove the react-map-gl-geocoder, react-map-gl is not rendering map, just showing blank page.
is there any solution to make react-map-gl working correctly on production mode?
dev mode is working well.

[2020-09-05 03:51] SamSamskies commented on #78
I'm not sure. I haven't used react-map-gl with Electron before. You can try raising an issue with react-map-gl https://github.com/visgl/react-map-gl/issues.

[2020-09-05 03:51] #78 closed

[2020-09-15 03:43] mohridwanhdp commented on #49
I wrap my ReactMapGl with Deck.gl, I use the suggestion to use reuseMap but still rendered minima three times,

and after the viewport changed, it become so many search field

[2020-09-15 04:01] SamSamskies commented on #49
Hi @mohridwanhdp, could you provide an example in Code Sandbox that demonstrates your issue?

[2020-09-15 07:39] dinaandrei opened #79 "reverse Geocode"
Hello, i do not quite understand from the documentation how to get a location based on the latLong. How do you pass that information?

[2020-09-16 19:07] kjkurtz opened #80 "Dotted line around entry box when active"
The newest version (2.1.2) has a dotted line around the geocoder text box when it is active. This can be seen in the main codesandbox example: https://codesandbox.io/s/react-map-gl-geocoder-using-containerref-to-ignore-events-rewdh

<img width="264" alt="Screen Shot 2020-09-16 at 2 05 41 PM" src="https://user-images.githubusercontent.com/6036168/93381045-b73e1900-f825-11ea-86ba-e4ab2bf680c5.png">

[2020-09-18 04:37] SamSamskies commented on #80
Hi @kjkurtz, the outline seems to be there on purpose and was previously not showing up before because of a bug in the CSS. See the following PR in the `mapbox-gl-geocoder` repo for more details https://github.com/mapbox/mapbox-gl-geocoder/pull/343.

Their current demo (https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder/) doesn't show the dotted line cause it's using the CSS from `map

[2020-09-28 11:06] milinpaul commented on #36
For users who use next.js framework, importing mapbox-gl-geocoder dynamically will resolve the window is not defined issue.

use nextjs dynamic import from next/dynamic

[2020-09-28 17:46] SamSamskies commented on #36
@milinpaul thanks for the tip!

Also, I have a PR (https://github.com/tristen/suggestions/pull/42) open with the `suggestions` library to fix this error. Feel free to +1 the PR 😀

[2020-10-05 00:21] SamSamskies opened #81 "Marker doesn't show and menu stays open when using bbox prop"
Sandbox demo of bug: https://codesandbox.io/s/react-map-gl-geocoder-v2-bbox-bug-example-ww8sl

![bbox-bug](https://user-images.githubusercontent.com/3655410/95030623-d7633a00-0665-11eb-85e2-c503d202aeff.gif)

[2020-10-05 05:27] SamSamskies commented on #81
`bbox` value needs to be memoized. Will open another issue mentioning that prop values need to be memoized.

[2020-10-05 05:27] #81 closed

[2020-10-05 05:29] SamSamskies opened #82 "Add note to README that non-primitive prop values need to be memoized"

[2020-10-07 03:08] #82 closed

[2020-10-13 08:51] Maledbao opened #83 ""Could not find a declaration file for module 'react-map-gl-geocoder'""
Hello team,

I wanted to add a Geocoder feature on top of my react-map-gl app. But after following the steps on the main page (i.e npm install 'react-map-gl-geocoder' & importing 'react-map-gl-geocoder/dist/mapbox-gl-geocoder.css')nothing appeared on the screen and I came across the following:

_Could not find a declaration file for module 'react-map-gl-geocoder'. '[...]/node_modules/react-map-gl-

[2020-10-14 11:58] nerijusgood opened #84 "When using containerRef input options do not collapse"
- or add possibility to control select dropdown/suggestion list.

If necessary i can try re-create issue.

[2020-10-14 20:03] SamSamskies commented on #83
Hi @Maledbao, please check out https://github.com/SamSamskies/react-map-gl-geocoder/issues/50

[2020-10-14 20:05] SamSamskies commented on #84
Hi @nerijusgood, make sure that your non-primitive prop values are memoized. Please provide a Code Sandbox if you need help figuring out how to do this. Here's an example https://codesandbox.io/s/react-map-gl-geocoder-using-containerref-to-ignore-events-rewdh.

[2020-10-14 20:57] Maledbao commented on #83
Thank you very much, will check it out !

[2020-10-15 05:42] SamSamskies commented on #79
Hi @dinaandrei, here's an example of how to use the `reverseGeocode` prop https://codesandbox.io/s/react-map-gl-geocoder-reversegeocode-example-d7rtm.

![reverse-geocode-example](https://user-images.githubusercontent.com/3655410/96081573-6c3c1380-0e6e-11eb-8b8a-90945e1cd786.gif)

[2020-10-19 08:06] Maruthasalam opened #85 "Dopdown is disappearing after searching the results in react-map-gl-geocoder"
<img width="290" alt="issues" src="https://user-images.githubusercontent.com/61966142/96418540-89773600-1210-11eb-9939-e56257da5726.PNG">
In React Map GL Gecoder Package after searching the items from input box, the results are shown in the dropdown and i select the items from the dropdwon list.the dropdwon list is hangs in there and disappering so how to over come the issues?Can please help out.

[2020-10-19 18:28] SamSamskies commented on #85
Hi @Maruthasalam. In order to avoid this, the value for `onViewportChange` needs to be memoized. In your example you are passing a new function to `onViewportChange` on every render which is causing the problem that you are having.

Try this:
[code]

[2020-10-28 23:28] utb2017 commented on #85
I am having a similar problem. A). I only see one suggestion. B) The suggestion disappears when I click it. The map animates to the location. The Single suggestion then reappears.

I can get the suggestion to disappear if I focus the Input, then click away. If I move the map, the suggestion will reappear.

I am using nextJS, I overcame the "window is not defined", error.

I am using the container

[2020-10-29 01:04] SamSamskies commented on #85
Hi @utb2017, you're missing the deps on your useCallback. You actually don't need the useCallback in your case. And your proximity value needs to be memoized or defined outside of the function. The mapbox geocoder gets re-initialized every time a reference to a non-primitive value changes.

[code]

[2020-10-29 02:29] utb2017 commented on #85
@SamSamskies Thank you!!

[2020-10-30 23:13] utb2017 opened #86 "Is it possible to change marker color?"
The prop type for the marker in the `node_modules\react-map-gl-geocoder\src\index.js` is `marker: PropTypes.bool,`.

I tried this.
[code]

I found a marker SVG in `node_modules\mapbox-gl\src\ui\marker.js`, but changing `background.setAttributeNS(null, 'fill', this._color);`  to `background.setAttributeNS(null, 'fill', '#00C805');` (and restarting application) didn't cause any changes.

Can you poi

[2020-10-31 00:53] SamSamskies commented on #86
Hi @utb2017, the Marker options object documentation is here https://docs.mapbox.com/mapbox-gl-js/api/markers/#marker. Just realized that I'm missing the link to it in the README. I'll update the README tonight.

Here's a Code Sandbox with an example: https://codesandbox.io/s/react-map-gl-geocoder-custom-marker-aexample-bw3pb.

[2020-10-31 01:00] utb2017 commented on #86
@SamSamskies Thanks again, project complete!

[2020-10-31 01:00] #86 closed

[2020-11-10 09:38] saadsaifse opened #87 "Local Geocoder Results Error"
I am trying to supplement the geocoding search results with the features I have on top of the map. Those features are added as simple markers and not added as a geojson source. Which works fine. But now I want to search for those markers, whenever user searches for a location using this control and then supplement the local results with the returned results from the geocoding API.

I tried the fol

[2020-11-10 10:05] saadsaifse commented on #87
I figured it out. The local geocoder function expects an array of geojson feature. Simply return the array of features and you are good to go.

[code]

[2020-11-10 10:05] #87 closed

[2020-11-10 20:34] andrewshrout opened #88 "Blank screen after adding geocoder to deck.gl"
Hey I was hoping I could get some help - I'm a new dev working on a mapping app. I tried to add the geocoder to a map I've been working on, and eventually figured out that it could work with static maps. But I have spent days and I still don't understand what I have done wrong with the mapref. Upon loading the page, my map will flicker with the datapoints on it and then the entire page goes white.

[2020-11-11 03:54] SamSamskies commented on #88
HI @andrewshrout, have you tried putting the Geocoder inside the StaticMap component as a child? If that doesn't work, it would help if you could provide the simplest code possible that demonstrates your issue on Code Sandbox.

[2020-11-11 18:05] andrewshrout commented on #88
https://codesandbox.io/s/testmap-v21w4?file=/src/App.js

Geocoder inside the staticmap as a child didn't work in my nextjs project. I've done my best in the link above to create a super simplified version of what I'm trying to do, but I can't recreate the issues of my project. I do know that adding the geocoder in either of them breaks.

I've been reading over every single issue on this repository

[2020-11-12 00:44] andrewshrout commented on #88
https://codesandbox.io/s/react-map-gl-geocoder-v2-example-forked-2zbz0?file=/src/index.js

Got a somewhat working version by forking your functional component example, passing deck.gl as a child. Now there's working deck.gl, and geocoding. However I feel like I've just sidestepped my lack of understanding for why it won't work with a static map or in a class component.

And now I have to read up o

[2020-11-12 03:35] SamSamskies commented on #88
Oh I see what the problem is with your class component. It's creating a new ref on every render. The ref should only be created once. Here's the old class component example that used to be in the README.

[code]

[2020-11-12 17:03] debotos opened #89 "In Android it's not working"
In IOS it's working fine but in Android(Chrome) unable to start typing.
Have a look - https://drive.google.com/file/d/1Fceyk1Gi8wVBzaSso_D6w2y8GX87aLSx/view?usp=sharing

If I came from another focused input then it works else not.

I am using version - "2.0.11"

[2020-11-12 17:40] SamSamskies commented on #89
Hi @debotos, unfortunately I don't have an Android phone to troubleshoot. If anyone would like to tackle this issue, PRs are much appreciated.

Did you try upgrading? I upgraded to `@mapbox/mapbox-gl-geocoder` v4.7.0 in `react-map-gl-geocoder` v2.0.14. Also, make sure that you are memoizing all non-primitive prop values besides mapRef and containerRef. The geocoder gets re-initialized if object or

[2020-11-13 01:21] debotos commented on #89
Hello, @SamSamskies - Thanks for the quick response.

Yes, I tried via upgrading but no luck. From default behavior perspective v2.0.11 is perfect for me. The weird thing is just a couple of months back it was working fine as far as I can remember.

Here is the implementation -

[code]

[2020-11-13 06:35] debotos commented on #89
Hey @SamSamskies - You're right!
It was happening because of re-render. After I isolated the component everything is back to normal.

Here is the implementation -

[code]

[2020-11-13 06:35] #89 closed

[2020-11-13 08:19] SamSamskies commented on #89
Another solution would be to memoize the `onResult` and `onError` prop values. The Geocoder component is a Pure Component, so as long as none of the references change, it won't re-initialize the geocoder. This trips a lot of people up. Even tripped myself up once 😂. One of these days I plan to sit down and re-architect this component to get rid of this constraint.

[2020-11-15 03:00] fletcherdemeo commented on #84
Hi @SamSamskies, I'm having a similar issue when rendering multiple geocoders:
- Geocoder drop down does not disappear once selection has been chosen
- Geocoder placeholder does not update to chosen selection
- Geocoder marker is not being placed

I have attempted to memoize my non-primitive prop values and this has not changed the result, however this is the first time that I have memoized in Rea

[2020-11-15 03:33] SamSamskies commented on #84
Hi @fletcherdemeo, your `onResult` prop is not memoized.

[2020-11-23 20:11] SamSamskies commented on #36
My PR with the `suggestions` library has been merged! Now I need to file an issue with `@mapbox/mapbox-gl-geocoder` to get them to upgrade the dependency. Once they do that I can upgrade `@mapbox/mapbox-gl-geocoder` and close out this issue.

[2020-11-24 04:16] SamSamskies commented on #36
Made a PR with `@mapbox/mapbox-gl-geocoder` to upgrade the `suggestions` dependency https://github.com/mapbox/mapbox-gl-geocoder/pull/403

[2020-11-25 04:30] mohridwanhdp commented on #49
I'm sorry it's my mistake here cause not use the right ref

Before, I use this in my ReactMapGL
`<ReactMapGL
              mapStyle={mapStyle}
              mapboxApiAccessToken={MAPBOX_TOKEN}
              preserveDrawingBuffer={true}
              ref={(reactMap) => (this.reactMap = reactMap)}
              reuseMaps={false}
              onLoad={(e) => {
                this._onMapLoaded();

[2020-11-29 19:32] jaman7 opened #90 "Input focus, no keyboard on android"
`
"react-map-gl": "^5.2.10",
"react-map-gl-geocoder": "^2.1.6",
`

focus does not work on android, keyboard appears and immediately disappears.
Same as in this thread: https://github.com/SamSamskies/react-map-gl-geocoder/issues/41

but only when "onResult" or "onResults" is used to get data into a function:
`
onResult={(result) => handleGetSearch(result)}
`

[code]

however, I am trying to downloa

[2020-11-29 20:40] SamSamskies commented on #90
Hi @jaman7, you need to memoize your onResult function. If you pass a new function on every render like you're doing, a new Mapbox geocoder is created which is causing the problem that you are having.

[2020-11-29 20:48] SamSamskies commented on #90
[code]

[2020-11-29 20:59] jaman7 commented on #90
Wow,  fantastic, it works. thank you.

[2020-11-29 20:59] #90 closed

[2020-12-01 11:35] fletcherdemeo commented on #84
Thanks @SamSamskies, much appreciated?
Any idea why the first child that renders initially does not leave a marker?

[2020-12-04 02:10] #79 closed

[2020-12-07 13:09] TMinh25 opened #91 "Can't find a way to trigger the first result for onResults"

[2020-12-07 13:10] TMinh25 commented on #91
Can you give me an example for onResults props?

[2020-12-09 05:43] kelvin0712 opened #93 "CORS error when searching."
**Reproduce**
When we try to search for any address, CORS errors will appear in the log.
In the picture below, I used the example from https://codesandbox.io/s/l7p179qr6m
<img width="699" alt="Screen Shot 2020-12-09 at 4 41 39 pm" src="https://user-images.githubusercontent.com/45527642/101589927-809b2780-3a3d-11eb-896b-3a67bdcd97b5.png">

[2020-12-13 21:08] SamSamskies commented on #93
Hi @kelvin0712, can you provide a sandbox that reproduces this problem? Also, this doesn't seem like it would be a problem with `react-map-gl-geocoder`. You can try removing the geocoder to verify. Please close this issue if you verify that it's not a problem with `react-map-gl-geocoder`.

[2020-12-13 21:18] SamSamskies commented on #91
Hi @TMinh25, I'm not sure what you're trying to do, so I just made a simple example that console logs the results. https://codesandbox.io/s/react-map-gl-geocoder-v2-onresults-example-96nve

[2020-12-13 22:10] #93 closed

[2020-12-13 22:14] #88 closed

[2020-12-13 22:15] #85 closed

[2020-12-13 22:23] SamSamskies commented on #84
@fletcherdemeo my guess would be that it has something to do with `onResult` not being memoized.

[2020-12-13 22:30] #84 closed

[2020-12-13 22:31] #80 closed

[2020-12-13 22:34] SamSamskies commented on #70
The `mapbox-gl-geocoder` docs does not provide any more information than what I have in the docs, so not sure what I could add. https://github.com/mapbox/mapbox-gl-geocoder/blob/master/API.md#parameters-18

[2020-12-13 22:34] #70 closed

[2020-12-13 22:39] #83 closed

[2020-12-13 22:56] SamSamskies commented on #91
I just read the title of the issue and figured out what you're trying to do. haha. I haven't done this before, but I think you can execute the `query` function on the Mapbox geocoder object. https://github.com/mapbox/mapbox-gl-geocoder/blob/master/API.md#query

[2020-12-13 23:16] SamSamskies commented on #91
I played around with it a bit and there actually doesn't seem to be a good way to do it because results are queried as you type,  so onResults gets called many times and it ends up selecting a result before you finish typing your query.

[2020-12-13 23:16] #91 closed

[2021-01-18 05:16] kelvin0712 opened #95 "Is there anyway that I can set a location for the geocoder initially?"
I am want to set a location by coordination for the geocoder when it first render, is there anyway to do that?
For example: I have latitude and longitude, and I want geocoder to show the address according to the coordination.
Thank you.
I know this is not a good place to ask for help, sorry.

[2021-01-18 06:14] #95 closed

[2021-01-19 00:05] carolineleger opened #96 "Menu stays open"
Hi,

I'm having the exact same issue as this one:
https://github.com/SamSamskies/react-map-gl-geocoder/issues/81
With the menu reopening after searching, except that i'm not using bbox.

My geocoder search field is outside my map component, I also tried to put it in the same component, but with same results.
Any idea?

Thanks!

const Map = (props) => {
  const mapRef = useRef();

  const handleVie

[2021-01-19 19:35] SamSamskies commented on #96
Hi @carolineleger, any props that are functions or objects need to be memoized to prevent this from happening. In your case you need to memoize your `handleGeocoderViewportChange` function. For more info check out issue #84.

[2021-01-19 22:04] andrewshrout opened #97 "Upon passing Marker="true" into geocoder, no point appears"
**Expected Behavior**
When marker="true", a pin appears upon search.

**Actual behavior**
Map transitions to the point, but no pin appears.

**Context**
Hard to replicate exactly what happens in a code sandbox as I'm developing in NextJS, and I've embedded the geocoder into deck.gl, but I cannot get a marker to render onto the map. The geocoder works, though I had to use the reference to put a sea

[2021-01-19 23:29] SamSamskies commented on #97
Hi @andrewshrout, the `marker` prop should be a boolean or an object which contains Mabox marker options and not a string. The `marker` prop defaults to `true`, so it's not required to pass the prop if you want the marker to show up.

[2021-01-20 15:12] andrewshrout commented on #97
Ah thank you. That was a dumb mistake on my part. However, even after changing it to marker={true}, it still doesn't leave a marker. The same behavior is true if I don't add the prop at all. I realize this package isn't often used with deck.gl but do you have any idea why this might be?

[2021-01-20 16:16] SamSamskies commented on #97
hmmmm... try removing the `viewState` prop. Objects that are not memoized could cause the issue and `viewState` is not a valid prop anyways. Also make sure you are using v2.1.0 or greater.

[2021-01-20 17:05] andrewshrout commented on #97
That worked perfectly. Thanks so much for spending the time to help me out! Really appreciate it.

[2021-01-20 17:05] #97 closed

[2021-01-21 23:39] carolineleger commented on #96
@SamSamskies Thanks, that helped :)

[2021-01-21 23:39] #96 closed

[2021-01-29 20:34] LAYTHJABBAR opened #98 "TypeError: Cannot read property 'remove' of undefined __ Cannot read property 'addControl' of null -"
Adding Gecoder to the Map causing a lot of error messages

my component is
`import './map.scss';
import React, { useRef } from 'react';
import mapboxgl from 'mapbox-gl';
import ReactMapGL, { Marker, Source, layer } from 'react-map-gl';
import 'mapbox-gl/dist/mapbox-gl.css';
import 'react-map-gl-geocoder/dist/mapbox-gl-geocoder.css';
import Geocoder from 'react-map-gl-geocoder';
import clsx from 'c

[2021-01-29 20:48] SamSamskies commented on #98
Hi @LAYTHJABBAR, I think you may be missing some code. I don't see where your `Geocoder` component is being rendered. I can't really help debug without seeing how you're rendering that component. It would help if you provide a Code Sandbox demonstrating the issue.

You can also check out this closed issue https://github.com/SamSamskies/react-map-gl-geocoder/issues/56.

[2021-01-29 20:57] LAYTHJABBAR commented on #98
Hi @SamSamskies thank you for your response, the Gecoder is rendering on GeocoderTag

[code]

[2021-01-29 23:57] SamSamskies commented on #98
It looks like you're conditionally rendering the geocoder container. The problem could be that you're rendering the `Geocoder` and not rendering `SearchBarRefrence` which would probably cause the errors that you're having. Try removing the `containerRef` prop to verify.

Another issue that I see is that there is no prop called `ReverseGeoCode`. I think you want `reverseGeocode`.

Also, make sure a

[2021-02-02 00:50] Matt-Vance commented on #98
FYI I had a similar issue when upgrading to react-map-gl@5.3.0. Downgraded back to @5.2.3 and the geocoder now works.

[2021-02-03 15:37] daniela-green commented on #98
@Matt-Vance exactly what happened to me. Downgrading to 5.2.3 solved it.

[2021-02-03 16:59] LAYTHJABBAR commented on #98
Thanks @Matt-Vance the issue got solved by downgrading to @5.2.3

[2021-02-03 17:00] #98 closed

[2021-02-04 12:59] David05500 commented on #56
any help since?

[2021-02-05 17:32] LAYTHJABBAR opened #99 "Can Not Use react.map.gl.gecoder with Typescript"
Hello Team,

I have tried a lot to use the gecoder with type script but it is keep showing errors my file is as below

[code]
the Error messages that I am getting are TypeError: Cannot read property 'remove' of undefined && TypeError: Cannot read property 'addControl' of null

is there a way to fix that

[2021-02-06 08:11] icebox commented on #99
I was having the same issue but I am not using TypeScript.

It appears `react-map-gl-geocoder v2.1.6`  is not compatible with the latest versions of `react-map-gl v6.1.x`

`react-map-gl v6.1.0-alpha` introduces a breaking change somewhere.

Switching to `react-map-gl v6.0.3` works for me. I am also using the latest version of react.

<img width="277" alt="react-map-gl-geocoder" src="https://user-i

[2021-02-18 21:05] MuhammadJafarFA17BCS054 opened #100 "GeoCoder Marker's Styling Not Working"
Hi,
I have been trying for a few days now to solve an issue that I have had and is very irritating. I am simply trying to apply custom styling to the marker that is dropped by GeoCoder, but whenever i pass anything else (except true) to "marker" prop, the marker stops showing on map, and the geocoder results do not hide on click. Can someone help me?
![image](https://user-images.githubusercontent.

[2021-02-18 21:13] SamSamskies commented on #100
Hi @MuhammadJafarFA17BCS054, you have to make sure to memoize any props that are objects or functions. Is `MARKER_OPTIONS` defined outside of your function? If not, you need to memoize it.

[2021-02-18 21:23] MuhammadJafarFA17BCS054 commented on #100
@SamSamskies Thank you so much man!! I defined the MARKER_OPTIONS outside my function and it worked like a charm.
![image](https://user-images.githubusercontent.com/76398215/108423270-78d7da80-7259-11eb-8d74-7dff3db0463a.png)

[2021-02-18 23:43] #100 closed

[2021-02-22 11:31] MuhammadJafarFA17BCS054 opened #101 "Search Results Not closing, and marker not dropping"
Hi there,
I am having an issue with react-map-gl-geocoder. When i use "filter" prop to filter the search results, the geocoder's default marker doesnt drop on selected location, also the menu with search results doesnt collaps, it reopens.
I know you are going to ask me to memoize my handleViewPortChange function, the thing is I am new to react and i dont know how to do that. Can somebody please h

[2021-02-23 11:51] MuhammadJafarFA17BCS054 commented on #101
@SamSamskies can you help me please?

[2021-02-23 19:10] SamSamskies commented on #101
Hi @MuhammadJafarFA17BCS054, you are already memoizing the `handleViewportChange` function. However, you are not memoizing the function that you are passing to the `filter` prop. All objects and functions that are passed as props need to be memoized. https://reactjs.org/docs/hooks-reference.html#usecallback

[2021-02-24 17:29] MuhammadJafarFA17BCS054 commented on #101
Hi @SamSamskies , Thankyou for helping me out, but as i said in the start, I am a newbie, i read the article but i still cant figure out how to memoize the function that i am passing to filter prop. Can you help me?

[2021-02-24 17:31] MuhammadJafarFA17BCS054 commented on #101
https://github.com/SamSamskies/react-map-gl-geocoder/issues/39#issuecomment-495457369
I checked this code, I think it was written by you. It has the same error as mine. Can you make a new repo or something addressing the issue?

[2021-02-24 18:08] SamSamskies commented on #101
You can use the `useCallback` hook to memoize functions. Without that a new function is created on every render which causes the geocoder to be re-initialized. You can also define the function outside of your component. That works because the reference to the function won't change every time the component renders.

Thanks for pointing out the issue with the broken sandbox. I fixed it.

[2021-02-25 16:13] MuhammadJafarFA17BCS054 commented on #101
Thank You so much @SamSamskies , i got the basic idea what useCallBack do and what memoized functions are. What i am stuck on now is that, how do i call multiple functions (each made using a useCallBack hook) on onResult prop of Geocoder?

[2021-02-25 16:45] SamSamskies commented on #101
You can wrap both of the functions with another function.

[code]

[2021-03-10 14:36] uebriges commented on #99
Hi,

I am using Typescript and tried the solution from @icebox, but still get this error message: TypeError: Cannot read property 'addControl' of null.

I have the same versions as mentioned by @icebox

My code looks like this:

[code]

Anyone having a solution for that?

Thanks a lot.

[2021-03-10 14:45] SamSamskies commented on #99
Hey @uebriges, you need to pass `mapRef` as a `ref` to `ReactMapGL`. The geocoder uses that handle to access the Mapbox geocoder from the React Map GL instance.

[2021-03-10 15:14] uebriges commented on #99
Hi @SamSamskies,

Thanks a lot. It worked now also with the latest version of react-map-gl (6.1.10).

[2021-03-30 16:27] congdoe commented on #101
@MuhammadJafarFA17BCS054 - Were you able to resolve your issue. It seems I am having the same issue but for onResult prop.

[2021-03-30 22:43] congdoe commented on #101
Nvm figured it out
![image](https://user-images.githubusercontent.com/4491869/113065937-ac2a5500-9187-11eb-9ad1-c71e64aa1717.png)
![image](https://user-images.githubusercontent.com/4491869/113066027-cbc17d80-9187-11eb-880a-519d427770b4.png)

[2021-04-05 21:19] bbaervoets opened #103 "Geocoder doesn't appear in Next.js app"
Hi,

I'm trying to use react-map-gl-geocoder in my Next.js application.
The mapbox-gl-geocoder appears on my screen, but I can't see the geocoder.
Nonetheless, the geocoder appears in my react dev tools.
I tried out many things before it occured to me that Next.js is probably causing this problem.
The code below is from one of the examples.
Does anyone have experience with react-map-gl-geocoder +

[2021-04-05 23:21] SamSamskies commented on #103
Hi @bbaervoets, there is an issue with `@mapbox/mapbox-gl-geocoder` that is causing this. I believe for now you can get around the issue by using Next dynamic imports https://nextjs.org/docs/advanced-features/dynamic-import. See this issue for more details https://github.com/SamSamskies/react-map-gl-geocoder/issues/36. I have an open PR with `@mapbox/mapbox-gl-geocoder` to fix the issue. Feel free

[2021-07-08 03:57] wfendler opened #115 "Console error passing object to marker prop"
In addition to my own project, I'm seeing this in the screenshot in #100 and the codesandbox example in #86 (after adding the MARKER_OPTIONS to the component).

It looks like the types are suggesting that a marker _only_ receives a boolean, seen on [index.js line 261](https://github.com/SamSamskies/react-map-gl-geocoder/blob/master/src/index.js#L261)

I'm not super familiar with propTypes but I be

[2021-07-08 04:41] #115 closed

[2021-07-09 10:46] victorneuret opened #118 "Suggestions are displayed after setting a default input"
I had been working with the Geocoder outside of the map.
When I set the input value, the Geocoder is loaded with it's suggestions and they do not collapse until i clic on the geocoder and then clic out.
I would like to know how to load the geocoder without the suggestions until the user select the geocoder.
I may have done something wrong. Here is how I have done it: https://codesandbox.io/s/pedan

[2021-07-09 23:17] SamSamskies commented on #118
It didn't use to do that. Unfortunately, `mapbox-gl-geocoder` changed the behavior https://github.com/mapbox/mapbox-gl-geocoder/issues/401. You might be able use some CSS wizardry to hack around this. Like maybe hide the suggestions unless the input is focused or something.

It might be worth it to roll your own geocoder component to fully customize how it works. You could fetch the data using the

[2021-07-09 23:23] SamSamskies commented on #118
You could also try rolling back to `v2.0.13` which I think was using a version of `mapbox-gl-geocoder` that didn't display the suggestions when setting the input value.

[2021-07-10 06:18] victorneuret commented on #118
Thanks for your answer. I understand that it is not possible for you to fix anything within this package. I'll see what I can do

[2021-07-25 22:05] radrob1 opened #119 "External geocoder"
Are there plans for supporting externalgeocoder? Currently localgeocoder is synchronous and doesn't support external API calls for search.

[2021-07-25 23:36] SamSamskies commented on #119
I don't think so. This project is pretty much in maintenance mode.

[2021-08-05 14:11] TGChrisRArendt opened #121 "React 17?"
[code]

[2021-08-05 14:18] TGChrisRArendt commented on #121
Sorry, I mistook this package for react-mapbox-gl-geocoder

[2021-08-05 14:18] #121 closed

[2021-09-05 01:04] maulayyacyber opened #124 "how to active draggable after search"
Hi... i want to make draggable maker after search, but i read the documentation i not find about draggable. Thanks

[2021-09-06 13:13] maulayyacyber commented on #124
@SamSamskies you have references about it ? thanks

[2021-09-12 12:17] #124 closed, assigned to nobody

[2021-09-24 13:10] jeroenkampinga opened #126 "mapbox-gl neccessary dependency?"
I'm using `react-map-gl-geocoder` in combination with [react-map-gl](https://visgl.github.io/react-map-gl/). When inspecting my bundle I see `mapbox-gl.js` is bundled twice. Once from `react-map-gl` and once as (peer)dependency from `react-map-gl-geocoder`. Is there a way to remove the duplicate code when combining this package with `react-map-gl`

![bundle](https://user-images.githubusercontent.c

[2021-09-25 16:06] SamSamskies commented on #126
I'm not sure, but this project is pretty much in maintenance mode, so you could just copy pasta the code into your codebase instead of installing it as a dependency. It's only one file. I've always purposely kept all the code in one file to make it easy to copy pasta. Everything you need is in this file https://github.com/SamSamskies/react-map-gl-geocoder/blob/master/src/index.js.

[2021-09-25 16:10] SamSamskies commented on #126
I think the problem is that I forgot to add `mapbox-gl` as a peer dependency.

[2021-09-29 13:44] #126 closed, assigned to nobody

[2021-11-07 22:07] gilml opened #128 "How to get the current value?"
Is there any way to keep the current value of Geocoder on the state?
For example, creating a hook like `setSearchQuery(Geocoder.input.current.value)` ?

This is my Geocoder:

[code]

Thanks!

[2021-11-07 23:11] SamSamskies commented on #128
Hey @gmsy, you can use the `onResult` prop and cache the value of each query result. If you want to cache the value as the user is typing, you can use the `onLoading` prop. You'll probably actually need to use both.

[2021-11-07 23:23] gilml commented on #128
Thanks for your reply, @SamSamskies .
Do you think there is also a way maybe to change styling for the Geocoder input only when the Geocoder input is focused?

[2021-11-07 23:29] SamSamskies commented on #128
You'll have to hack it by importing styles with higher specificity for the styles that you want to override.

[2021-11-14 16:47] ling0x opened #129 "Typescript import issue"
When importing the package into React typescript project, the module name `import Geocoder from 'react-map-gl-geocoder';` gives the following error:

[code]

[2021-11-14 18:45] SamSamskies commented on #129
https://github.com/SamSamskies/react-map-gl-geocoder/issues/50

[2021-12-12 20:40] Steven-Fabre opened #130 "Supporting stand-alone Geocoder without map ?"
Hello, I'd like to know if it's gonna be able to run alone without displaying a map like in Vanilla JS ? ( https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder-no-map/ )

[2021-12-12 23:00] SamSamskies commented on #130
Nah. It's only meant to be used with `react-map-gl`. Probably not that hard to copy pasta the code and modify it for that purpose though. All the code is in one file https://github.com/SamSamskies/react-map-gl-geocoder/blob/master/src/index.js.

[2022-02-08 00:43] dannyskoog opened #132 "react-map-gl 7 support"
I'm currently int the process of updating `react-map-gl` to version 7 but get compilation errors (originating from `react-map-gl-geocoder`) saying:

`Attempted import error: 'FlyToInterpolator' is not exported from 'react-map-gl' (imported as 'r').`

And `FlyToInterpolator` seems to have been removed (https://visgl.github.io/react-map-gl/docs/upgrade-guide#upgrading-to-v70). Are there any plans of

[2022-02-08 02:23] SamSamskies commented on #132
Sorry, no plans. It's possible that I'll do it at some point, but it probably won't be anytime soon. I usually suggest people just copy pasta the code and modify it for their needs especially since I don't really work on this project anymore. https://github.com/SamSamskies/react-map-gl-geocoder/blob/master/src/index.js

[2022-02-08 11:30] dannyskoog commented on #132
I understand. Well, thanks for the quick and informative answer. Appreciate it!

[2022-02-15 12:56] IamPrime opened #134 "Multiple input options in react app"
Please see the image attached, any help will be appreciated
![image](https://user-images.githubusercontent.com/19865921/154066294-c34de2b9-bfec-4af2-90eb-cace070122a3.png)

[2022-02-15 13:05] #134 closed, assigned to nobody

[2022-02-15 13:07] IamPrime commented on #134
I found that this happened because I was using React Fragment and put the GeoCoder code within it. When I moved GeoCoder out everything displayed as normal.

[2022-03-09 07:00] saharilarshad opened #137 "export 'FlyToInterpolator' (imported as 'r') was not found in 'react-map-gl'"
after using library react-map-gl-geocoder

[2022-03-09 13:18] SamSamskies commented on #137
I believe this is a duplicate issue https://github.com/SamSamskies/react-map-gl-geocoder/issues/132. Please close this issue if that's the case. Thanks.

[2022-05-18 14:53] FrancescoBurchielli commented on #132
hi everyone, what is the solution here? Does downgrading just _react-map-gl_ help or do I need to downgrade both _react-map-gl_ and _react-map-gl-geocoder_? Many thanks much appreciated!

[2022-06-08 11:19] bhison commented on #132
just React-Map-GL

[2022-06-12 12:35] joelugh commented on #132
Haven't tried it yet myself, but just noticed that the release notes say that you don't need a react wrapper for geocoder any more.

https://visgl.github.io/react-map-gl/docs/whats-new#react-map-gl-v70

[2022-06-13 12:14] bhison commented on #132
good advice @joelugh

Another option is to [recreate the react-map-gl v7 geocoder example](https://github.com/visgl/react-map-gl/tree/7.0-release/examples/geocoder)

[2022-08-12 23:14] mikiyasgirma commented on #50
×
TypeError: i._requestDomTask is not a function

Hey Sam, This is what I am getting when I selected the results from the recommendation. Please help me with what shall I do. Thank you in advance

[2022-08-21 12:34] stephenavocado commented on #132
Hey @joelugh, did you end up trying this?

[2022-08-21 12:40] stephenavocado commented on #132
Which version do you downgrade to?

[2022-10-11 09:40] georgioslymperisdjakne commented on #56
I found the solution:

[code]
I tried with `@mapbox/mapbox-gl-geocoder` and I realized that I was getting the same error until I added the condition.
It requires some ms to update the `mapRef`.

[2022-10-11 10:01] georgioslymperisdjakne commented on #56
react-map-gl-geocoder doesn't use react-map-gl version 7. According to https://visgl.github.io/react-map-gl/docs/upgrade-guide the LinearInterpolator and FlyToInterpolator are removed. Use map.easeTo() and map.flyTo(). You have to use older versions of react-map-gl.

[2022-10-12 15:08] mclars commented on #56
Yep just got to the same point with errors of these missing, too bad =(

However, this example works; https://visgl.github.io/react-map-gl/examples/geocoder . Just don't forget to add the css file they have in the index.html.